/* @description Generates styles for the MenuPanelList component */
@import '../globals/sass/helpers-all';


.MenuPanelListItem {
    width: 100%;
}

.MenuItemLink {
    display: inline-block;

    width: 100%;
    padding: spacingUnit(2) spacingUnit(6);

    color: $AstroGranite;

    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $AstroGranite;
        background-color: $Paste;
    }

    // only show focus on the text, not the whole width of the menu
    &:focus {
        outline: none;

        .MenuItemLabel {
            box-shadow: 0 0 0 rem-calc(1) $VimeoBlue;
        }
    }

    &.hasIcon {
        position: relative;
    }
}

.MenuItemLabel {
    margin-bottom: 0;
}

.SelectedIcon {
    position: absolute;
    top: rem-calc(9);
    left: 0.25rem;

    width: 1rem;
    height: auto;

    * {
        fill: $VimeoBlue;
    }
}

.LinkIcon {
    display: inline-block;

    position: relative;
    top: rem-calc(4);

    width: rem-calc(18);
    height: rem-calc(18);
    margin-right: spacingUnit(2);

    * {
        fill: $AstroGranite;
    }
}
