/* @description Generates styles for the MenuPanelList component */
@import '../globals/sass/helpers-all';


.SelectedIcon {
    position: absolute;
    top: rem-calc(9);
    left: 0.25rem;

    width: 1rem;
    height: auto;

    * {
        fill: $VimeoBlue;
    }
}

.LinkIcon {
    display: inline-block;

    position: relative;
    top: rem-calc(4);

    width: rem-calc(18);
    height: rem-calc(18);
    margin-right: spacingUnit(2);

    * {
        fill: $AstroGranite;
    }
}
