/* @description Generates styles for the ButtonDialogClose component */
@import '../../globals/sass/helpers-all';
$ButtonDialogClose_icon-size: rem-calc(18);

.ButtonDialogClose {
    position: absolute;

    width: $ButtonDialogClose_icon-size;
    height: $ButtonDialogClose_icon-size;

    border: 0;
    background: transparent;

    appearance: none;


    &:hover {
        cursor: pointer;
    }

    svg {
        position: absolute;
        top: 0;
        right: 0;

        width: $ButtonDialogClose_icon-size;
        height: $ButtonDialogClose_icon-size;
    }
}
