
.VimeoBrand_ColorRibbon {
    &:before {
        display: block;

        width: 100%;
        height: rem-calc(3);

        background-image: linear-gradient(
        to right,
        #73D2F6,
        #0088CC 22%,
        #7FC400 36%,
        #FFD583 48%,
        #FFB21E 63%,
        #FF4D4D 76%,
        #503873
        );

        content: '';

        flex-shrink: 0;
    }
}
