body {
    font-family: $FontFamily; //"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: rem-calc($FontBase);

    color: $BodyTextColor-Dark;
}


::selection {
    background-color: $VimeoBlue;
}

::-moz-selection {
    background-color: $VimeoBlue;
}

strong {
    font-weight: 700;
}

a {
    color: $DarkLinkColor;

    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus,
    &.selected {
        color: $DarkLinkColor-Hover;
    }
    img {
        border: 0;
    }
}

// Headers _____________________________________________________________________

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.2em;

    font-weight: 700;
    line-height: 1.189;

    color: $HeaderTextColor;
}

// Form Type _____________________________________________________________________
label {
    font-weight: 400;
}

// Quotations ________________________________________________________________

blockquote {
    margin-bottom: 1em;

    font-style: italic;
}
