node_modules/*
**/build-styleguide/*
src/globals/js/vendor/*
index.js
data/*
templates/*
templates/plop-componentTemplates/ComponentJSX.js
gulpfile.babel.js
gulp-tasks/**/*
docs/**/*
src/components/Icons/*
tsdocsHTML/*
