build-styleguide
svg_src_files
src
.babelrc
.prettierrc
.gitignore
.storybook
*.story.tsx
yarn.lock

node_modules
*.log
*.orig

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
results

npm-debug.log
yarn-error.log

*~
*#
.DS_STORE
.DS_Store
.netbeans
nbproject
.idea
.settings
*.sublime-project
*.sublime-workspace
.vscode
