.babelrc
.github
.gitignore
.prettierrc
.storybook
*.story.tsx
build-styleguide
Jenkinsfile
src
svg_src_files
svg.js
yarn.lock


node_modules
*.log
*.orig

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
results

npm-debug.log
yarn-error.log

*~
*#
.DS_STORE
.DS_Store
.netbeans
nbproject
.idea
.settings
*.sublime-project
*.sublime-workspace
.vscode
