html[data-theme='light'] {
  --color-background-primary: hsl(0, 0%, 100%);
  --color-background-secondary: hsl(208, 21.7%, 86.5%);
  --color-background-0: hsl(0, 0%, 100%);
  --color-background-100: hsl(0, 0%, 100%);
  --color-background-200: hsl(0, 0%, 100%);
  --color-background-300: hsl(0, 0%, 100%);
  --color-background-400: hsl(0, 0%, 100%);
  --color-background-500: hsl(0, 0%, 100%);
  --color-background-600: hsl(210, 28.6%, 97.3%);
  --color-background-700: hsl(210, 21.4%, 94.5%);
  --color-background-800: hsl(210, 23.8%, 91.8%);
  --color-background-900: hsl(207.3, 20%, 89.2%);
  --color-background-1000: hsl(208, 21.7%, 86.5%);
  --color-format-primary: hsl(196.6, 100%, 46.9%);
  --color-format-secondary: hsl(0, 0%, 23.9%);
  --color-format-tertiary: hsl(207.3, 23.4%, 27.6%);
  --color-status-caution: hsl(39.5, 100%, 55.9%);
  --color-status-negative: hsl(0, 100%, 65.1%);
  --color-status-positive: hsl(110.2, 56.2%, 49.2%);
  --color-stroke: hsl(207.3, 20%, 89.2%);
  --color-surface-primary: hsl(0, 0%, 100%);
  --color-surface-secondary: hsl(0, 0%, 100%);
  --color-surface-tertiary: hsl(0, 0%, 100%);
  --color-surface-0: hsl(208.4, 22.9%, 83.7%);
  --color-surface-100: hsl(207.3, 20%, 89.2%);
  --color-surface-200: hsl(210, 21.4%, 94.5%);
  --color-surface-300: hsl(0, 0%, 100%);
  --color-surface-400: hsl(0, 0%, 100%);
  --color-surface-500: hsl(0, 0%, 100%);
  --color-surface-600: hsl(0, 0%, 100%);
  --color-surface-700: hsl(0, 0%, 100%);
  --color-surface-800: hsl(0, 0%, 100%);
  --color-surface-900: hsl(0, 0%, 100%);
  --color-surface-1000: hsl(0, 0%, 100%);
  --color-text-primary: hsl(200, 26.1%, 9%);
  --color-text-secondary: hsl(205.9, 20.4%, 42.4%);
  --color-text-0: hsl(200, 26.1%, 9%);
  --color-text-100: hsl(208.4, 25.3%, 14.7%);
  --color-text-200: hsl(204, 24.3%, 20.2%);
  --color-text-300: hsl(207.1, 23.7%, 25.7%);
  --color-text-400: hsl(205.9, 23.3%, 31.2%);
  --color-text-500: hsl(207.1, 22.3%, 36.9%);
  --color-text-600: hsl(205.9, 20.4%, 42.4%);
  --color-text-700: hsl(205.9, 17.9%, 48.2%);
  --color-text-800: hsl(206.5, 18.6%, 54.7%);
  --color-text-900: hsl(206.7, 18.2%, 61.2%);
  --color-text-1000: hsl(207.3, 20%, 67.6%);
}

html[data-theme='dark'] {
  --color-background-primary: hsl(0, 0%, 3.9%);
  --color-background-secondary: hsl(0, 0%, 0%);
  --color-background-0: hsl(0, 0%, 7.8%);
  --color-background-100: hsl(0, 0%, 7.1%);
  --color-background-200: hsl(0, 0%, 6.3%);
  --color-background-300: hsl(0, 0%, 5.5%);
  --color-background-400: hsl(0, 0%, 4.7%);
  --color-background-500: hsl(0, 0%, 3.9%);
  --color-background-600: hsl(0, 0%, 3.1%);
  --color-background-700: hsl(0, 0%, 2.4%);
  --color-background-800: hsl(0, 0%, 1.6%);
  --color-background-900: hsl(0, 0%, 0.8%);
  --color-background-1000: hsl(0, 0%, 0%);
  --color-format-primary: hsl(196.6, 100%, 46.9%);
  --color-format-secondary: hsl(0, 0%, 93.7%);
  --color-format-tertiary: hsl(207.3, 23.4%, 27.6%);
  --color-status-caution: hsl(39.5, 100%, 55.9%);
  --color-status-negative: hsl(0, 100%, 65.1%);
  --color-status-positive: hsl(110.2, 56.2%, 49.2%);
  --color-stroke: hsl(0, 0%, 25.5%);
  --color-surface-primary: hsl(0, 0%, 7.1%);
  --color-surface-secondary: hsl(0, 0%, 10.6%);
  --color-surface-tertiary: hsl(0, 0%, 14.1%);
  --color-surface-0: hsl(0, 0%, 0%);
  --color-surface-100: hsl(0, 0%, 1.6%);
  --color-surface-200: hsl(0, 0%, 3.5%);
  --color-surface-300: hsl(0, 0%, 5.1%);
  --color-surface-400: hsl(0, 0%, 7.1%);
  --color-surface-500: hsl(0, 0%, 8.6%);
  --color-surface-600: hsl(0, 0%, 10.6%);
  --color-surface-700: hsl(0, 0%, 12.2%);
  --color-surface-800: hsl(0, 0%, 14.1%);
  --color-surface-900: hsl(0, 0%, 15.7%);
  --color-surface-1000: hsl(0, 0%, 17.6%);
  --color-text-primary: hsl(0, 0%, 100%);
  --color-text-secondary: hsl(0, 0%, 71%);
  --color-text-0: hsl(0, 0%, 100%);
  --color-text-100: hsl(0, 0%, 94.9%);
  --color-text-200: hsl(0, 0%, 90.2%);
  --color-text-300: hsl(0, 0%, 85.5%);
  --color-text-400: hsl(0, 0%, 80.8%);
  --color-text-500: hsl(0, 0%, 75.7%);
  --color-text-600: hsl(0, 0%, 71%);
  --color-text-700: hsl(0, 0%, 66.3%);
  --color-text-800: hsl(0, 0%, 61.6%);
  --color-text-900: hsl(0, 0%, 56.5%);
  --color-text-1000: hsl(0, 0%, 51.8%);
}