html[data-theme='light'] {
  --color-background-primary: #fff;
  --color-background-secondary: #d5dde4;
  --color-format-primary: #00adef;
  --color-format-secondary: #3d3d3d;
  --color-format-tertiary: #364857;
  --color-surface-primary: #FFFFFF;
  --color-surface-secondary: #FFFFFF;
  --color-text-primary: #11191d;
  --color-text-secondary: #566f82;
}

html[data-theme='dark'] {
  --color-background-primary: #fff;
  --color-background-secondary: #d5dde4;
  --color-format-primary: #00adef;
  --color-format-secondary: #3d3d3d;
  --color-format-tertiary: #364857;
  --color-surface-primary: #FFFFFF;
  --color-surface-secondary: #FFFFFF;
  --color-text-primary: #11191d;
  --color-text-secondary: #566f82;
}