/* @description Generates styles for the Block component */
@import '../../globals/sass/helpers-all';

.Block {
    /* Fill space of parent and content set to wrap by default  */
    flex-grow: 1;
    flex-wrap: wrap;

    /* Set child columns to flex items */
    display: flex;

    /* Reset column padding by negating it w/ Margins */
    padding: 0;
    margin-left: rem-calc($grid-gutter-width);
    margin-right: rem-calc($grid-gutter-width);
}


/* Modifiers */
.flow-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
}

.nowrap {
    flex-wrap: nowrap;
}
