/* @description Generates styles for the InputLabelStateIcon component */
@import '../globals/sass/helpers-all';
.InputLabelStateIcon {
    width: $inputs_icon-size;
    height: $inputs_icon-size;
    margin-bottom: rem-calc(-3);
    margin-left: 0.5rem;

    animation-name: inputIconFadeIn;
    animation-duration: $inputs_animation-timing*2;
    animation-timing-function: ease-out;

    animation-fill-mode: forwards;
}

.negative {
    * {
        fill: $inputs_error-color;
    }
}

.positive {
    * {
        fill: $inputs_positive-color;
    }
}

@keyframes inputIconFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
