:global {

  .sg-Navigation__ribbon{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:$RibbonHeight;
  }
  .sg-Navigation{
    background-color: $Plaster;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .sg-Navigation__wrap{
    width: $NavigationWidth;
    height: 100vh;
    padding: 2rem 1rem;
    overflow: scroll;
  }

  .sg-Navigation__wrap a{
      color: $AstroGranite;
  }

  .sg-Navigation__list{
    list-style: none;
    margin-top: 2rem;
    padding-left: 0;
  }

  .sg-Navigation__category{
    @include Header4;
  }

  .sg-Navigation__patternList {
    @include ParagraphLg;
    padding-left: 1rem;
  }

}