@import '../../../src/globals/sass/_helpers-all';

$NavigationWidth: 16rem;
$NavigationAnimation: all 200ms ease;
$RibbonHeight: rem-calc(5);

@import 'demos/codeDemo';
@import 'demos/colorSwatches';
@import 'demos/TsPropsListing';
@import 'demos/ApiTable';
@import 'demos/grid';
@import 'MainLayout';
@import 'Navigation';
@import 'NavigationToggle';
@import 'Pattern';
@import 'tota11y';