/* @description Generates styles for the NotificationNeutral component */
@import '../globals/sass/helpers-all';

.NotificationNeutral {
    background-color: $Foam;
}

.iconColor * {
    fill: $VimeoBlue;
}

.dismissButton {
    svg * {
        fill: $VimeoBlue !important;// overrides button icon color for special case
    }

    &:hover {
        background: rgba($VimeoBlue, 0.1) !important; // overrides button icon color for special case
    }
}
