@import "../../../src/globals/sass/_helpers-all";

.section {
    border-bottom: 1px solid #D0D8DB;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 30px;
    padding-right: 30px;
}

.section__header {
    margin-bottom: 150px;
}

.section__specimen + .section__specimen {
    margin-top: 50px;
}

hr {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: -30px;
    margin-right: -30px;
    border-top: 1px solid #D0D8DB;
}

.type-chart {
    display: flex;
    position: relative;
}

.type-chart__desc {
    flex: 0 0 rem-calc(240);
    padding-right: 30px;
    min-width: 16.25rem;
}

.h1 {
    @include Header1;
}

.h2 {
    @include Header2;
}

.h3 {
    @include Header3;
}

.h4 {
    @include Header4;
}

.h5 {
    @include Header5;
}

.h6 {
    @include Header6;
}

.ParagraphLg {
    @include ParagraphLg;
}

.ParagraphMd {
    @include ParagraphMd;
}

.ParagraphSm {
    @include ParagraphSm;
}
