/* @description Generates styles for the Grid component */


//add padding to grid so that items that don't use a column will still fit
// in the grid

.Grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
}

.center {
    justify-content: center;
}
