/* @description Generates styles for the Modal component */
@import "../globals/sass/helpers-all";
$Modal_animation-speed-integer: 250;
$Modal_animation-speed: 250;
$Modal_actionArea-height-small-screen: rem-calc(134);
$Modal_actionArea-height-large-screen: rem-calc(80);
$Modal_Vertical_Cutoff: 300px;
$Modal_maxHeight: 86vh;

.Modal {
  position: relative;
  z-index: get-z-index("modalContent");

  width: 76%;
  min-height: $Modal_maxHeight;
  margin: 0 auto;

  border-radius: rem-calc(3);
  background: $White;
  box-shadow: $subtleIrisBoxShadow;
  // Modals scroll in the window until $Modal_Vertical_Cutoff height
  @media (min-height: $Modal_Vertical_Cutoff) {
    min-height: rem-calc(180);
    max-height: $Modal_maxHeight;
  }
}

.ModalWrapper {
  display: flex;
  flex-direction: column;

  position: fixed;
  z-index: get-z-index("modalWrapper");
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  justify-content: center;
}

.ModalContent {
  max-height: $Modal_maxHeight;
  overflow: scroll;
  padding: spacingUnit(5) spacingUnit(5);

  opacity: 1;
  border-radius: rem-calc(3);

  &.fullBleed {
    padding: 0;
  }

  &.hasActionArea {
    @include mq(sm) {
      max-height: calc(
        #{$Modal_maxHeight} - #{$Modal_actionArea-height-large-screen}
      );
    }

    max-height: calc(
      #{$Modal_maxHeight} - #{$Modal_actionArea-height-small-screen}
    );
  }
}

.Overlay {
  position: fixed;
  z-index: get-z-index("modalOverlay");
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.ModalCloseButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.Title {
  width: 100%;
  margin-bottom: spacingUnit(3);
  padding-right: spacingUnit(2);
}

.ActionArea {
  @include mq(sm) {
    height: $Modal_actionArea-height-large-screen;
  }

  height: $Modal_actionArea-height-small-screen;
  padding: spacingUnit(5) spacingUnit(5) spacingUnit(3);
  box-shadow: 0 rem-calc(4) rem-calc(10) rem-calc(6) rgba(0, 0, 0, 0.1);
  z-index: get-z-index("ModalActionArea");
  position: relative;
}

// Modal Sizes

@include mq(sm) {
  .sm {
    width: rem-calc(340);
  }
}

@include mq(md) {
  .md {
    width: rem-calc(440);
  }

  .lg {
    width: rem-calc(660);
  }
}

// --------------  Animation

.enter {
  opacity: 0.01;

  &.enterActive {
    opacity: 1;

    transition: opacity $Modal_animation-speed ease-in;
  }
}

.leave {
  opacity: 1;

  &.leaveActive {
    opacity: 0.01;

    transition: opacity $Modal_animation-speed ease-out;
  }
}

.appear {
  opacity: 0.01;

  &.appearActive {
    opacity: 1;

    transition: opacity $Modal_animation-speed ease-in;
  }
}

// this class is added to the body tag when the modal is open.
.freezeBodyScroll {
  position: fixed;

  width: 100%;
  height: 100%;
}
