@import '../utilities/_functions.scss';
@import '../utilities/_rem-calc.scss';

// Important: If these values change, update the BREAKPOINTS.js contants file.

$screen-xs: 360; // see above
$screen-xs-em: em-calc($screen-xs);
$screen-xs-rem: rem-calc($screen-xs);
$screen-sm: 480; // see above
$screen-sm-em: em-calc($screen-sm);
$screen-sm-rem: rem-calc($screen-sm);
$screen-md: 768; // see above
$screen-md-em: em-calc($screen-md);
$screen-md-rem: rem-calc($screen-md);
$screen-lg: 1080; // see above
$screen-lg-em: em-calc($screen-lg);
$screen-lg-rem: rem-calc($screen-lg);
$screen-xl: 1280; // see above
$screen-lg-em: em-calc($screen-lg);
$screen-lg-rem: rem-calc($screen-lg);
$screen-xxl: 1440; // see above
$screen-xl-em: em-calc($screen-xl);
$screen-xl-rem: rem-calc($screen-xl);
$screen-xxxl: 1680; // see above
$screen-xxl-em: em-calc($screen-xxl);
$screen-xxl-rem: rem-calc($screen-xxl);
