@import "./colors";

// Text Colors
$BodyTextColor-Dark: $AstroGranite;
$BodyTextColor-Light: $RegentGray;
$MetaTextColor: #8A9599;
$HeaderTextColor: $AstroGranite;
$LightLinkColor: $VimeoBlue;
$LightLinkColor-Hover: $VimeoBlue-Darkened;
$DarkLinkColor: #17272E;
$DarkLinkColor-Hover: $AstroGranite;
$SelectionHover: $VimeoBlue;
$FormPlaceholderColor: $RegentGray;

// Interaction Colors

$LightGreyHoverBgColor: rgba(162, 175, 184, 0.16);
