
//============================================================================
// GLOBAL COLORS CASES
//============================================================================

$g-border-unfocused: gray(6);
$g-border-color: gray(6);
$g-border-color-light: gray(8);
$g-form-bgcolor-unfocused: gray(8);
$g-form-bgcolor: gray(10);
$g-red-error: red(2);
$g-green-error: green(2);
$g-svg-path-fill: currentColor;
$g-selection-color: blue(4);
$g-quote-bg: gray(10);

//============================================================================
// VENDOR COLORS
//============================================================================
$g-dropbox-blue:  #007EE5;
$g-facebook-blue: #4c70ba;
$g-twitter-blue:  #4099FF;
