// Text Colors
$BodyTextColor-Dark: $AstroGranite;
$BodyTextColor-Light: #8699A6
$HeaderTextColor: $AstroGranite;
$LightLinkColor: $VimeoBlue;
$LightLinkColor-Hover: $VimeoBlue-Darkened;
$DarkLinkColor: #17272E;
$DarkLinkColor-Hover: $VimeoBlue;
