$grid-max-width: 1440;
$grid-column-count: 24;
$grid-col-gutter: 20;
$grid-gutter-width: ($grid-col-gutter / 2);
$grid-gutter-width-rems: $grid-gutter-width * 1rem;
$grid-gutter-width-percentage: $grid-gutter-width * 100%;
