$inputs_background-color: $White;
$inputs_background-color-disabled: $Plaster;
$inputs_border-color: $RegentGray;
$inputs_border-color-focused: $AstroGranite;
$inputs_border-color-disabled: $Porcelain;
$inputs_border-size: 0.0625rem;
$inputs_border-size-focused: 0.125rem;
$inputs_border-style: solid;
$inputs_height-md: 2.5rem;
$inputs_height-lg: 3rem;
$inputs_margin-bottom: 0.5rem;
$inputs_padding-md: 0.6875rem;
$inputs_padding-lg-horizontal: 0.8125rem;
$inputs_padding-lg-vertical: 0.6875rem;
$inputs_animation-timing: 300ms;
$inputs_text-color: $BodyTextColor-Dark;
$inputs_text-color-disabled: $BodyTextColor-Light;
$inputs_placeholder-color: $RegentGray;
$inputs_error-color: $SunsetOrange;
$inputs_positive-color: $Pistachio;
$inputs_inlineInputs_size: 1.25rem;
$inputs_inlineInputs_element-background-color: $VimeoBlue;
$inputs_inlineInputs_fill-color: $White;
$inputs_inlineInputs_fill-size: 0.625rem;
$inputs_icon-size: 1.125rem;
$input_has-icon-padding-md: $inputs_icon-size + 1.125rem;
$input_has-icon-padding-lg: $inputs_icon-size + 1.3125rem;

@mixin inputs_focus_border-shadow($color) {
    box-shadow: inset 0 0 0 rem-calc(1) $color;
}

// shared input styles

@mixin sharedInputBaseStyles() {
    display: inline-block;

    margin: 0 0 $inputs_margin-bottom 0;

    color: $inputs_text-color;
    border-width: $inputs_border-size;
    border-style: $inputs_border-style;
    border-radius: rem-calc($g-radius);
    background-color: $inputs_background-color;
    box-shadow: inset 0 0 0 0 #FFFFFF;

    transition: all $inputs_animation-timing ease-out;

    &:focus {
        outline: 0;
    }

    &.neutral {
        border-color: $inputs_border-color;
        &:focus {
            @include inputs_focus_border-shadow($inputs_border-color-focused);

            border-color: $inputs_border-color-focused;
        }
    }

    &.positive {
        border-color: $inputs_positive-color;
        &:focus {
            @include inputs_focus_border-shadow($inputs_positive-color);
        }
    }

    &.negative {
        border-color: $inputs_error-color;
        &:focus {
            @include inputs_focus_border-shadow($inputs_error-color);
        }
    }

    &:disabled {
        color: $inputs_text-color-disabled;
        border-color: $inputs_border-color-disabled;
        background-color: $inputs_background-color-disabled;
    }
}

@mixin sharedTextInputs() {
    width: 100%;

    font-family: $g-font-family-primary;
}


@mixin sharedInputMediumStyles() {
    height: $inputs_height-md;
    padding: $inputs_padding-md;

    font-size: rem-calc(14);
    line-height: calculateLineHeightTarget(14, 16);
}

@mixin sharedInputLargeStyles() {
    height: $inputs_height-lg;
    padding: $inputs_padding-lg-vertical $inputs_padding-lg-horizontal;

    font-size: rem-calc(16);
    line-height: calculateLineHeightTarget(16, 20);
}

// shared styles for inline input elements like checkboxes and radios
@mixin sharedInlineInputWrapperStyles() {
    display: flex;

    position: relative;

    width: 100%;

    flex-wrap: wrap;
}

@mixin sharedInlineInputStyles() {
    display: inline-flex;

    position: absolute;
    z-index: get-z-index('InlineInputs');
    top: $inputs_inlineInputs_size/2;
    left: $inputs_inlineInputs_size/2;

    width: rem-calc(1);
    height: rem-calc(1);
    margin: 0;

    appearance: none;
    align-items: center;
    justify-content: center;

    // states

    &:focus {
        outline: 0;
    }
}


@mixin sharedInlineInputMediumBeforeStyles() {
    width: $inputs_inlineInputs_size;
    height: $inputs_inlineInputs_size;
}

@mixin sharedInlineInputMediumAfterStyles() {
    width: $inputs_inlineInputs_size;
    height: $inputs_inlineInputs_size;
}

@mixin sharedInlineInputFillStyles() {
    position: absolute;

    content: '';
    transition: all 200ms ease-out;
    transform: scale(0);
}

@mixin sharedInlineInputActivatedFillStyles() {
    transform: scale(1);
}

@mixin sharedInlineInputElementReplaceStyles() {
    display: block;

    position: absolute;
    z-index: get-z-index('InlineInputsReplacementElements');
    top: 0;
    left: 0;

    width: $inputs_inlineInputs_size;
    height: $inputs_inlineInputs_size;

    border-width: rem-calc(1);
    border-style: solid;
    border-color: $inputs_border-color;
    background-color: $White;
}

@mixin sharedInlineInputMediumFillStyles() {
    top: rem-calc(4);
    left: rem-calc(4);

    width: $inputs_inlineInputs_fill-size;
    height: $inputs_inlineInputs_fill-size;
}
