$inputs_background-color: $White;
$inputs_background-color-disabled: $Plaster;
$inputs_border-color: $RegentGray;
$inputs_border-color-focused: $AstroGranite;
$inputs_border-color-disabled: $Porcelain;
$inputs_border-size: 0.0625rem;
$inputs_border-size-focused: 0.125rem;
$inputs_border-style: solid;
$inputs_height-md: 2.5rem;
$inputs_height-lg: 3rem;
$inputs_margin-bottom: 0.5rem;
$inputs_padding-md: 0.6875rem;
$inputs_padding-lg-horizontal: 0.8125rem;
$inputs_padding-lg-vertical: 0.6875rem;
$inputs_animation-timing: 300ms;
$inputs_text-color: $BodyTextColor-Dark;
$inputs_text-color-disabled: $BodyTextColor-Light;
$inputs_placeholder-color: $RegentGray;
$inputs_error-color: $SunsetOrange;
$inputs_positive-color: $Pistachio;

@mixin inputs_focus_border-shadow($color) {
    box-shadow: inset 0 0 0 rem-calc(1) $color;
}

// shared input styles

@mixin sharedInputBaseStyles() {
    display: inline-block;

    margin: 0 0 $inputs_margin-bottom 0;

    color: $inputs_text-color;
    border-width: $inputs_border-size;
    border-style: $inputs_border-style;
    border-radius: rem-calc($g-radius);
    background-color: $inputs_background-color;
    box-shadow: inset 0 0 0 0 #FFFFFF;

    transition: all $inputs_animation-timing ease-out;

    &:focus {
        outline: 0;
    }

    &.neutral {
        border-color: $inputs_border-color;
        &:focus {
            @include inputs_focus_border-shadow($inputs_border-color-focused);

            border-color: $inputs_border-color-focused;
        }
    }

    &.positive {
        border-color: $inputs_positive-color;
        &:focus {
            @include inputs_focus_border-shadow($inputs_positive-color);
        }
    }

    &.negative {
        border-color: $inputs_error-color;
        &:focus {
            @include inputs_focus_border-shadow($inputs_error-color);
        }
    }

    &:disabled {
        color: $inputs_text-color-disabled;
        border-color: $inputs_border-color-disabled;
        background-color: $inputs_background-color-disabled;
    }
}

@mixin sharedTextInputs() {
    width: 100%;

    font-family: $g-font-family-primary;
}


@mixin sharedInputMediumStyles() {
    height: $inputs_height-md;
    padding: $inputs_padding-md;

    font-size: rem-calc(14);
    line-height: calculateLineHeightTarget(14, 16);
}

@mixin sharedInputLargeStyles() {
    height: $inputs_height-lg;
    padding: $inputs_padding-lg-vertical $inputs_padding-lg-horizontal;

    font-size: rem-calc(16);
    line-height: calculateLineHeightTarget(16, 20);
}
