$g-spacing-unit: 5; //smallest margin in the design

$g-spacing-xsm: ($g-spacing-unit*1); //1
$g-spacing-sm:  ($g-spacing-unit*2); //2
$g-spacing-md:  ($g-spacing-unit*3); //3
$g-spacing-lg:  ($g-spacing-unit*4); //4
$g-spacing-xlg: ($g-spacing-unit*5); //5
$g-spacing-xxlg: ($g-spacing-unit*6); //5
