@mixin ActionAreaContentWrapper() {
    overflow: scroll;
    // This background creates a gradiant that looks like a shadow
    // when there is content overflow.
    // This technique comes from http://lea.verou.me/2012/04/background-attachment-local/

    background: /* These hide the shadow when there is NO scroll */
    linear-gradient($White 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

    /* These are the shadows when there IS scroll */
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,0.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,0.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
}

@mixin ActionAreaStyles() {
    overflow: hidden;

    width: 100%;

    border-radius: 0 0 0.1875rem 0.1875rem;
    background: $White;

    text-align: right;
}
