$FontBase: 16;
$rem-base: $FontBase; // used by rem calc function
$FontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$FontWeightMedium: 500;
$FontWeightBold: 600;
$LetterSpacingLg: 0.04rem;
$LetterSpacingMd: 0.01rem;
$LetterSpacing: 0.1;
$Header1: 36;
$Header2: 28;
$Header3: 22;
$Header4: 18;
$Header5: $FontBase;
$Header6: 14;
$BodyLg: $FontBase;
$BodyLg-maxWidth: 548;
$BodyMd: 14;
$BodyMd-maxWidth: 468;
$BodySm: 12;
$BodySm-maxWidth: 400;
