// Elements will get a z-index equal to their order in this list.
$z-indexed-elements: FocusBloop,
InlineInputs,
InlineInputsReplacementElements,
InputToggleOverlay,
tooltipOverlay;
// for elements that need special, usually extreme, z-indexing, this map will provide override values.
$z-index-overrides: (
    toastification: 9997,
    modalOverlay: 9998,
    modalContent: 9999
);
