/* @description Generates styles for the ListItem component */

@import '../../globals/sass/helpers-all';

.ListItem {
    margin-bottom: rem-calc(16);
    margin-left: rem-calc(18);
    list-style-position: outside;
    color: currentColor;
    font-size: inherit;

    ol & {
        list-style-type: decimal;
        // counter-increment: step-counter;

        // align-items: baseline;
        // &::before {
        //     margin-right: rem-calc(6);

        //     font-size: inherit;
        //     font-weight: 500;

        //     color: inherit;

        //     content: counter(step-counter) ".";
        // }
    }

    ul & {
        list-style-type: disc;
        // &::before {
        //     margin-top: rem-calc(6);
        //     min-width: 6px;
        //     width: 0.375em;
        //     height: 0.375em; //bullet size should be relative to the list font-size, not the page
        //     margin-right: rem-calc(8);

        //     border-radius: 50%;
        //     background-color: currentColor; //bullet should be the same color as text

        //     content: '';
        // }
    }
}
