/* @description Generates styles for the ListItem component */

@import '../../globals/sass/helpers-all';
.ListItem {
    margin-bottom: rem-calc(12);
    margin-left: rem-calc(18); //fixes default list outside margin
    font-size: inherit;
    font-weight: 500;
    list-style-position: outside;
    color: currentColor;
    span {
        font-weight: normal;
    }

    li:first-of-type {
        margin-top: rem-calc(6);
    }
}

ol {

    > li {
        list-style-type: decimal; // counter-increment: step-counter;
    }
}

ul {
    > li {
        list-style-type: disc;
    }
}