/* @description Generates styles for the Input component */
@import '../globals/sass/helpers-all';
$InputTextWithButton-size-md: rem-calc(40);
$InputTextWithButton-size-lg: rem-calc(48);
$InputTextWithButton-size-md-subtle: rem-calc(36);
$InputTextWithButton-size-lg-subtle: rem-calc(44);

.InputText {
    @include sharedInputBaseStyles();
    @include sharedTextInputs();

    &::placeholder {
        color: $inputs_placeholder-color;
    }

    &:read-only {
        background-color: $Plaster;
    }
}

// Sizes 
.md {
    @include sharedInputMediumStyles();
}

.lg {
    @include sharedInputLargeStyles();
}

// Icons

.hasIcon {
    &.md {
        padding-left: $input_has-icon-padding-md;
    }
    &.lg {
        padding-left: $input_has-icon-padding-lg;
    }
}


.hasInlineButton {
    &.md {
        padding-right: $InputTextWithButton-size-md;
    }
    &.lg {
        padding-right: $InputTextWithButton-size-lg;
    }
}
