/* @description Generates styles for the TriggerOverlay component */
@import '../globals/sass/helpers-all';

.TriggerOverlay {
    z-index: get-z-index('tooltipOverlay');
}

.Wrapper {
    z-index: get-z-index('tooltipOverlay');
}

.TriggerWrapper {
    display: inline-block;
}

.TooltipWrapper {
    opacity: 0;
}

.Link {
    display: inline-block;
}
