/* @description Generates styles for the VerticalMenuHeaderGroup component */
@import '../globals/sass/helpers-all';
$VerticalMenuHeaderGroup_ButtonSize: rem-calc(16);

.VerticalMenuHeaderGroup {
    padding: rem-calc(8) 0;
}

.HeaderWrapper {
    position: relative;

    padding-left: rem-calc(10);

    &.hasActionButton {
        padding-right: $VerticalMenuHeaderGroup_ButtonSize + rem-calc(20);
    }
}

.ActionButtonWrapper {
    position: absolute;
    top: 0;
    right: rem-calc(12);
}

.ActionButton {
    svg {
        width: $VerticalMenuHeaderGroup_ButtonSize;
        height: auto;

        * {
            fill: $BodyTextColor-Light;
        }
    }

    &:hover {
        svg * {
            fill: $AstroGranite;
        }
    }
}
