/* @description Generates styles for the MenuPanelList component */
@import '../../globals/sass/helpers-all';
.MenuPanelListWrapper {
    padding: spacingUnit(2) 0;

    &.hasDivider {
        border-top: rem-calc(1) solid $Porcelain;
    }

    .Header {
        margin-top: spacingUnit(2);
        margin-right: spacingUnit(6);
        margin-left: spacingUnit(6);
    }
}

.MenuPanelList {
    margin: 0;

    list-style-type: none;
}
