/* @description Generates styles for the Col component */
@import '../../globals/sass/helpers-all';

.Col {
    background-clip: content-box; /* temp styles */
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

@mixin spans($count) {
    @for $i from 1 through $count {
        &-#{$i} {
            flex: 0 1 #{($i/$grid-column-width * 100%)};
        }
    }
}

@mixin offset($count, $offsetDirection) {
    @for $i from 1 through $count {
        &-#{$i} {
            margin-#{$offsetDirection}: calc( #{($i/$grid-column-width * 100%)} + #{ ($grid-column-width * ($i - 1)) * 1px } );
        }
    }
}

.span {
  @include spans(24);
}

.span-half {
    flex: 0 1 #{(($grid-column-width/2)/$grid-column-width * 100%)};
}

.span-quarter {
    flex: 0 1 #{(($grid-column-width/4)/$grid-column-width * 100%)};
}

.span-third {
    flex: 0 1 #{(($grid-column-width/3)/$grid-column-width * 100%)};
}


// Span breakpoints
@include breakpointSm {
    .sm-span {
        @include spans(24);
    }

    .sm-span-half {
        flex: 0 1 #{(($grid-column-width/2)/$grid-column-width * 100%)};
    }

    .sm-span-quarter {
        flex: 0 1 #{(($grid-column-width/4)/$grid-column-width * 100%)};
    }

    .sm-span-third {
        flex: 0 1 #{(($grid-column-width/3)/$grid-column-width * 100%)};
    }

}

@include breakpointMd {
    .md-span {
        @include spans(24);
    }

    .md-span-half {
        flex: 0 1 #{(($grid-column-width/2)/$grid-column-width * 100%)};
    }

    .md-span-quarter {
        flex: 0 1 #{(($grid-column-width/4)/$grid-column-width * 100%)};
    }

    .md-span-third {
        flex: 0 1 #{(($grid-column-width/3)/$grid-column-width * 100%)};
    }

}

@include breakpointLg {
    .lg-span {
        @include spans(24);
    }

    .lg-span-half {
        flex: 0 1 #{(($grid-column-width/2)/$grid-column-width * 100%)};
    }

    .lg-span-quarter {
        flex: 0 1 #{(($grid-column-width/4)/$grid-column-width * 100%)};
    }

    .lg-span-third {
        flex: 0 1 #{(($grid-column-width/3)/$grid-column-width * 100%)};
    }

}


// Span Modifiers
.left {
    order: -1;
}

.right {
    order: 1;
}

.offset-plus {
    @include offset(24, left);
}

.offset-negative {
    @include offset(24, right);
}

//Offset Breakpoints

@include breakpointSm {
    .sm-offset-plus {
        @include offset(24, left);
    }

    .sm-offset-negative {
        @include offset(24, right);
    }
}

@include breakpointMd {
    .md-offset-plus {
        @include offset(24, left);
    }

    .md-offset-negative {
        @include offset(24, right);
    }
}

@include breakpointLg {
    .lg-offset-plus {
        @include offset(24, left);
    }

    .lg-offset-negative {
        @include offset(24, right);
    }
}

.nested {
    display: flex;
}
