.RootElement{
    // visibility: hidden;
    overflow: hidden;

    position: absolute;

    &.measured {
        visibility: visible;

        position: relative;

        height: 0;

        opacity: 0;
    }

    &.showing {
        visibility: visible;

        position: relative;

        height: auto;

        opacity: 1;
    }
}