/* @description Generates styles for the VerticalMenuItem component */
@import '../globals/sass/helpers-all';
$VerticalMenuItem_TransitionSpeed: 250ms;

.Wrapper {
    position: relative;

    width: 100%;

    &.textOverrides {
        max-width: $screen-sm-rem;
        margin-bottom: 0;
    }
}

.LinkStyleWrapper a {
    // using element selector here to style whatever link type thing is passed to this component. 
    display: inline-block;

    position: relative;

    width: 100%;

    transition: background-color $VerticalMenuItem_TransitionSpeed ease;

    &:hover {
        color: inherit;
        border-radius: rem-calc(2);
        background-color: rgba($AstroGranite, 0.14);
    }
}

.NestedInteractionWrapper {
    position: absolute;
    top: rem-calc(4);
    right: 0;

    opacity: 0;

    transition: opacity $VerticalMenuItem_TransitionSpeed ease;

    &.isShowing {
        opacity: 1;
    }
}

.nestedMenuOffset {
    margin-top: rem-calc(-2);
}
