@import '../globals/sass/helpers-all';

.DatePicker {
    padding: spacingUnit(2);

    // these globals are namespaced by .DatePicker's module transformation

    :global {
        // Copied from https://github.com/YouCanBookMe/react-datetime/blob/master/css/react-datetime.css
        // with some improvements to flex with the bounding element

        .rdt {
            position: relative;
        }

        .rdtPicker {
            @include ParagraphMd;

            position: relative;

            min-width: rem-calc(240);
            margin-bottom: 0;
            padding: 0;
        }

        .rdtOpen .rdtPicker {
            display: flex;

            justify-content: center;
        }

        .rdtDays {
            display: flex;

            flex-grow: 1;
        }

        .rdtStatic .rdtPicker {
            position: static;

            box-shadow: none;
        }

        .rdtPicker .rdtTimeToggle {
            text-align: center;
        }

        .rdtPicker table {
            width: 100%;
            margin: 0;
        }

        .rdtPicker td,
        .rdtPicker th {
            height: rem-calc(28);

            text-align: center;
        }

        .rdtPicker td {
            padding: rem-calc(5) rem-calc(6);

            cursor: pointer;

            &.rdtDay {
                border-radius: rem-calc($g-radius);
            }
        }

        .rdtHour:hover,
        .rdtMinute:hover,
        .rdtSecond:hover,
        .rdtTimeToggle:hover {
            color: $VimeoBlue;

            cursor: pointer;
        }

        .rdtOld,
        .rdtNew {
            color: $Plaster;
        }

        .rdtDay:hover {
            color: $VimeoBlue;
            background: $Foam;
        }

        .rdtActive.rdtDay {
            position: relative;

            color: $White;
            background-color: $VimeoBlue;
        }

        .rdtDay.rdtActive:hover {
            color: $White;
            background-color: $VimeoBlue-Darkened;
        }

        .rdtDisabled,
        .rdtDisabled:hover {
            color: $Plaster;
            background: none;

            cursor: not-allowed;
        }

        .rdtOld {
            color: $Porcelain;
        }

        .rdtOld.rdtDisabled,
        .rdtOld.rdtDisabled:hover {
            color: $Plaster;
            background: none;

            cursor: not-allowed;
        }

        .dow {
            width: 14.2857%;

            font-weight: normal; // overrides browser th styling.

            border-bottom: none;
        }

        .rdtSwitch {
            @include Header5;

            width: rem-calc(100);
        }

        .rdtNext,
        .rdtPrev {
            vertical-align: middle;
            text-indent: -9999px;
        }

        .rdtPrev span,
        .rdtNext span {
            display: block;

            position: absolute;
            top: rem-calc(8);

            user-select: none;
        }

        .rdtPrev span {
            left: rem-calc(16);

            &:before {
                position: absolute;
                top: 0;
                left: 0;

                border-top: rem-calc(8) solid transparent;
                border-right: rem-calc(8) solid currentColor;
                border-bottom: rem-calc(8) solid transparent;

                content: '';
            }

            &:after {
                position: absolute;
                top: rem-calc(2);
                left: rem-calc(2);

                border-top: rem-calc(6) solid transparent;
                border-right: rem-calc(6) solid $White;
                border-bottom: rem-calc(6) solid transparent;

                content: '';
            }
        }

        .rdtNext span {
            right: rem-calc(26);

            &:before {
                position: absolute;
                top: 0;
                left: 0;

                border-top: rem-calc(8) solid transparent;
                border-bottom: rem-calc(8) solid transparent;
                border-left: rem-calc(8) solid currentColor;

                content: '';
            }

            &:after {
                position: absolute;
                top: rem-calc(2);
                left: 0;

                border-top: rem-calc(6) solid transparent;
                border-bottom: rem-calc(6) solid transparent;
                border-left: rem-calc(6) solid $White;

                content: '';
            }
        }

        th.rdtDisabled,
        th.rdtDisabled:hover {
            color: $Plaster;
            background: none;

            cursor: not-allowed;
        }

        .rdtPicker thead tr:first-child th {
            cursor: pointer;
        }
        .rdtPicker thead tr:first-child th:hover {
            color: $VimeoBlue;
        }

        .rdtPicker button {
            border: none;
            background: none;

            cursor: pointer;
        }
        .rdtPicker button:hover {
            background-color: $Porcelain;
        }

        .rdtPicker thead button {
            width: 100%;
            height: 100%;
        }

        .rdtMonth,
        .rdtYear {
            width: 25%;
            height: rem-calc(50);

            cursor: pointer;
        }

        .rdtMonth:hover,
        .rdtYear:hover {
            color: $VimeoBlue;
        }

        .rdtCounters {
            display: inline-block;
        }

        .rdtCounters > div {
            float: left;
        }

        .rdtCounter {
            height: rem-calc(100);
        }

        .rdtCounter {
            width: rem-calc(40);
        }

        .rdtCounterSeparator {
            line-height: rem-calc(100);
        }

        .rdtCounter .rdtBtn {
            display: block;

            height: 40%;

            line-height: rem-calc(40);

            cursor: pointer;
            -webkit-user-select: none;   /* Chrome/Safari/Opera */
               -moz-user-select: none;      /* Firefox */
                -ms-user-select: none;       /* Internet Explorer/Edge */
                    user-select: none;

            -webkit-touch-callout: none; /* iOS Safari */
             -khtml-user-select: none;    /* Konqueror */
        }
        .rdtCounter .rdtBtn:hover {
            background: $Porcelain;
        }
        .rdtCounter .rdtCount {
            height: 20%;
        }

        .rdtMilli {
            width: rem-calc(48);
            padding-left: rem-calc(8);

            vertical-align: middle;
        }

        .rdtMilli input {
            width: 100%;
        }
    }
}

.DateTriggerWrapper {
    // this is a positions the hidden element that needs a little size for the tethering to work.
    position: absolute;
    top: 0;
}
.DateTrigger {
    // this IS the hidden element that needs a little size for the tethering to work.
    display: inline-block;

    width: 1px;
    height: $inputs_height-md;

    outline: none;
}
