/* @description Generates styles for the InputToggle component */
@import '../../globals/sass/helpers-all';
$InputToggle_transition: 200ms cubic-bezier(0.17,0.67,0.53,1);
$InputToggle_bloopSize-md: 32;
$InputToggle_bloopSize-lg: 38;

.InputToggleWrapper {
    @include sharedInlineInputWrapperStyles();

    &.isDisabled {
        @include sharedInlineInputWrapperDisabledStyles();
    }
}

.InputToggleWrapper-md {
    margin-bottom: rem-calc($InputToggle_bloopSize-md / 4);
    padding-left: spacingUnit(8);
}

.InputToggleWrapper-lg {
    margin-bottom: rem-calc($InputToggle_bloopSize-lg / 4);
    padding-left: spacingUnit(11);
}

.InputToggle {
    @include sharedInlineInputStyles();

    top: rem-calc(5);
    left: rem-calc(5);
}

.toggleOverlay {
    display: inline-block;

    position: absolute;
    z-index: get-z-index('InputToggleOverlay');
    top: 0;
    left: 0;

    border-radius: rem-calc(13);
    outline: none;
    background-color: $RegentGray;

    transition: all #{$InputToggle_transition};
    vertical-align: middle;

    appearance: none;

    &::before {
        display: block;

        position: absolute;
        top: 50%;
        left: rem-calc(2);

        border-radius: 50%;
        background-color: $White;

        content: '';
        transition: all #{$InputToggle_transition};
        transform: translateY(-50%);
    }
}

.toggleOverlay-md {
    top: rem-calc(2);

    width: rem-calc(24);
    padding: rem-calc(7) 0;

    &::before {
        padding: rem-calc(5);
    }
}

.toggleOverlay-lg {
    width: rem-calc(32);
    padding: rem-calc(9) 0;

    &::before {
        padding: rem-calc(6);
    }
}


.InputToggle:checked + .toggleOverlay::before {
    left: 50%;
}

.InputToggle:hover + .toggleOverlay {
    background-color: $AstroGranite;

    cursor: pointer;
}

.InputToggle:checked + .toggleOverlay {
    background-color: $VimeoBlue;
}

.InputToggle:hover:checked + .toggleOverlay {
    background-color: $VimeoBlue-Darkened;
}
.InputToggle:disabled + .toggleOverlay {
    background-color: $SoutherlySky !important;

    cursor: not-allowed !important;
}

.FocusBloop-md {
    top: rem-calc(-7);
    left: rem-calc(-4);

    width: rem-calc($InputToggle_bloopSize-md);
    height: rem-calc($InputToggle_bloopSize-md);
}

.FocusBloop-lg {
    top: rem-calc(-10);
    left: rem-calc(-3);

    width: rem-calc($InputToggle_bloopSize-lg);
    height: rem-calc($InputToggle_bloopSize-lg);
}
