/* @description Generates styles for the ProgressBar component */
@import '../globals/sass/helpers-all';
$ProgressBar_height-md: rem-calc(4);
$ProgressBar_height-lg: rem-calc(8);
$ProgressBar_height-xl: rem-calc(12);
$ProgressBar_stripe-size: rem-calc(10);

@keyframes ProgressBar-stripe-animation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: $ProgressBar_stripe-size*2 $ProgressBar_stripe-size;
    }
}


.ProgressBar,
.Container {
    &.md {
        height: $ProgressBar_height-md;

        border-radius: $ProgressBar_height-md / 2;
    }

    &.lg {
        height: $ProgressBar_height-lg;

        border-radius: $ProgressBar_height-lg / 2;
    }

    &.xl {
        height: $ProgressBar_height-xl;

        border-radius: $ProgressBar_height-xl / 2;
    }
}

.Container {
    overflow: hidden;

    position: relative;

    width: 100%;

    background-color: rgba($AstroGranite, 0.15);

    &.disabled {
        background-color: $Porcelain;
    }

    &.alert {
        background-color: $PalePink;
    }
}

.ProgressBar {
    position: absolute;
    top: 0;
    left: 0;

    &.isActive {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        background-image: linear-gradient(
        -45deg,
        rgba(black, 0.1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(black, 0.1) 50%,
        rgba(black, 0.1) 75%,
        transparent 5%,
        transparent
        );
        background-size: $ProgressBar_stripe-size $ProgressBar_stripe-size;

        animation: ProgressBar-stripe-animation 1.5s linear infinite;
    }

    &.disabled {
        background-color: $SoutherlySky;
    }

    &.neutral {
        background-color: $VimeoBlue;
    }

    &.warning {
        background-color: $WarningYellow;
    }

    &.alert {
        background-color: $SunsetOrange;
    }
}
