/* @description Generates styles for the Breadcrumb component */
@import '../globals/sass/helpers-all';

@mixin Breadcrumb_truncatewithEllipsis() {
    display: inline-block;
    overflow: hidden;

    position: relative;

    width: auto;
    max-width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin Breadcrumb_icon() {
    position: absolute;
    top: rem-calc(-2);

    width: rem-calc(24);
    height: rem-calc(24);
}

.Breadcrumb {
    width: 100%;
}

.Crumb {
    @include mq(md) {
        display: inline-block;
    }

    display: none;

    position: relative;

    padding-right: rem-calc(24);
}

.CrumbArrowIcon {
    @include Breadcrumb_icon();

    right: 0;
}

.CurrentPageCrumb {
    @include Breadcrumb_truncatewithEllipsis();
    @include mq(md-down) {
        max-width: 100% !important; //cancels-out inline calculated style
    }

    &.hasCrumbs {
        @include mq(md) {
            padding-left: 0;
        }

        padding-left: rem-calc(28);
    }
}

.CurrentCrumbArrowLink {
    @include Breadcrumb_icon();
    @include mq(md) {
        display: none;
    }

    left: 0;

    color: $LightLinkColor;

    &:hover {
        color: $LightLinkColor-Hover;
    }

    .ArrowIcon * {
        fill: currentColor;
    }
}

.CrumbLabel {
    @include Breadcrumb_truncatewithEllipsis();
}

.Link {
    color: $LightLinkColor;

    &:hover {
        color: $LightLinkColor-Hover;
    }
}
