@import '../globals/sass/helpers-all';

$FeatureTourPanel_beacon-size: rem-calc(16);

.FeatureTourPanel {
    border-radius: rem-calc(5);
}

:global {


    .FeatureTourPanel_beaconIsActive {
        animation: 2000ms infinite FeatureTourPanel_BeaconBloop;
        background: $VimeoBlue-Darkened;
    }

}

@keyframes :global(FeatureTourPanel_BeaconBloop) {
    0% {
        box-shadow: 0 0 8px 6px rgba($VimeoBlue, 0), 0 0 0px 0px rgba(0,0,0,.0), 0 0 0px 0px rgba($VimeoBlue, 0);
      }
      10% {
        box-shadow: 0 0 8px 6px rgba($VimeoBlue, .5), 0 0 12px 10px rgba(0,0,0,.0), 0 0 12px 14px rgba($VimeoBlue, .5);
      }
      25% {
        box-shadow: 0 0 8px 6px rgba($VimeoBlue, 0), 0 0 0px 40px rgba(0,0,0,.0), 0 0 0px 40px rgba($VimeoBlue, 0);
      }
}



.Beacon {
    display: inline-block;
    text-indent: -9999px;
    height: $FeatureTourPanel_beacon-size;
    width: $FeatureTourPanel_beacon-size;
    border-radius: $FeatureTourPanel_beacon-size/2;
    background: $VimeoBlue;
    

    &:hover {
        background: $VimeoBlue-Darkened;
    }
}


    
    