.dotDemoWrapper {
    position: relative;

    width: 100%;
    height: 20rem;
}

.dotOne {
    position: absolute;
    top: 0;
    left: 0;
}

.dotTwo {
    position: absolute;
    top: 4em;
    left: 4rem;
}

.dotThree {
    position: absolute;
    top: 8rem;
    left: 8rem;
}

.dotFour {
    position: absolute;
    top: 12rem;
    left: 12rem;
}

.dotFive {
    position: absolute;
    top: 16rem;
    left: 16rem;
}
