/* @description Generates styles for the Notification component */
@import '../globals/sass/helpers-all';
$Notification_padding-horizontal: rem-calc(16);
$Notification_padding-vertical: rem-calc(12);
$Notification_icon-size: rem-calc(20);
$Notification_icon-margin: rem-calc(12);
$Notification_dismiss-icon-size: rem-calc(20);


.Notification {
    position: relative;

    width: 100%;
    margin-bottom: spacingUnit(4);
    padding-top: $Notification_padding-vertical;
    padding-right: $Notification_dismiss-icon-size + $Notification_padding-horizontal + $Notification_icon-margin;
    padding-bottom: $Notification_padding-vertical;
    padding-left: $Notification_padding-horizontal;

    border-radius: rem-calc($g-radius);

    transition: all #{$iris_transition-base};

    &.hasIcon {
        padding-left: $Notification_icon-size + $Notification_padding-horizontal+ $Notification_icon-margin;
    }

    p:last-of-type {
        max-width: 44rem;
        margin-bottom: 0 !important; // remove global last paragraph margin
    }
}


// icon

.iconWrapper {
    position: absolute;
    top: $Notification_padding-vertical;
    left: $Notification_padding-horizontal;

    svg {
        width: $Notification_icon-size;
        height: $Notification_icon-size;
    }
}

.hasHeader .iconWrapper {
    top: rem-calc(14);
}

// dismiss button
.dismissButton {
    top: rem-calc(10);
    right: $Notification_padding-horizontal;

    opacity: 0.75;

    &:hover {
        opacity: 1;
    }
}
