/* @description Generates styles for the InputField component */
@import '../../globals/sass/helpers-all';
$Input_icon-size: rem-calc(18);

.InputField {
    @include sharedInputBaseStyles();
    @include sharedTextInputs();

    &::placeholder {
        color: $inputs_placeholder-color;
    }
}

.InputWrapper {
    position: relative;

    padding: 0;
}

// Sizes 
.md {
    @include sharedInputMediumStyles();
}

.lg {
    @include sharedInputLargeStyles();
}

// Icons

.hasIcon {
    &.md {
        padding-left: $Input_icon-size + rem-calc(18);
    }
    &.lg {
        padding-left: $Input_icon-size + rem-calc(21);
    }
}

.Icon {
    position: absolute;
    top: 0;
    left: 0;

    & svg {
        width: $Input_icon-size;
        height: $Input_icon-size;

        animation-name: iconSlideIn;
        animation-duration: $inputs_animation-timing;
        animation-timing-function: ease-out;

        animation-fill-mode: forwards;

        * {
            fill: currentColor;
        }
    }
}

@keyframes iconSlideIn {
    from {
        width: 0;

        opacity: 0;
    }
    to {
        width: $Input_icon-size;

        opacity: 1;
    }
}

.Icon-md {
    height: $inputs_height-md;
    padding: rem-calc(11) rem-calc(12);
}

.Icon-lg {
    height: $inputs_height-lg;
    padding: rem-calc(15) rem-calc(13);
}

.Icon-negative {
    color: $inputs_error-color;
}

.Icon-positive {
    color: $inputs_positive-color;
}
