/* @description Generates styles for the VerticalMenuNestedSubMenu component */
@import '../globals/sass/helpers-all';

.VerticalMenuNestedSubMenu {
    width: 100%;
    margin-bottom: spacingUnit(1);
}

.VerticalMenuNestedSubMenuItem {
    margin: spacingUnit(1) 0 0 0;
    padding: 0 0 0 rem-calc(20);

    list-style-type: none;

    &.isActive {
        background-color: rgba($AstroGranite, 0.08);
    }
}
