/* @description Generates styles for the Modal component */
@import '../../globals/sass/helpers-all';
$Modal_animation-speed: 350ms;

.Modal {
    overflow: auto;

    position: relative;
    z-index: get-z-index('modalContent');
    top: 50%;

    width: 76%;
    min-height: rem-calc(180);
    max-height: 76vh;
    margin: 0 auto;

    background: $White;
    box-shadow: 0 rem-calc(6) rem-calc(10) 0 rgba(0,0,0,0.12);

    transform: translateY(-50%);
}


.ModalWrapper {
    position: fixed;
    z-index: 97;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.ModalContent {
    padding: spacingUnit(5);

    &.fullBleed {
        padding: 0;
    }
}

.Overlay {
    position: fixed;
    z-index: get-z-index('modalOverlay');
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);
}

.ModalCloseButton {
    position: absolute;
    top: rem-calc(22);
    right: rem-calc(22);

    &.dark {
        svg * {
            fill: $RegentGray;
        }

        &:hover svg * {
            fill: $AstroGranite;
        }
    }

    &.light {
        svg * {
            fill: $White;
        }

        &:hover svg {
            opacity: 0.8;
        }
    }
}

.Title {
    width: 100%;
    margin-bottom: spacingUnit(3);
    padding-right: spacingUnit(2);
}

// Modal Sizes

@include mq(sm) {
    .sm {
        width: rem-calc(340);
    }
}

@include mq(md) {
    .md {
        width: rem-calc(440);
    }

    .lg {
        width: rem-calc(660);
    }
}


// Animation

.enter {
    opacity: 0.01;

    &.enterActive {
        opacity: 1;

        transition: opacity $Modal_animation-speed ease-in;
    }
}

.leave {
    opacity: 1;

    &.leaveActive {
        opacity: 0.01;

        transition: opacity $Modal_animation-speed ease-out;
    }
}

.appear {
    opacity: 0.01;

    &.appearActive {
        opacity: 1;

        transition: opacity $Modal_animation-speed ease-in;
    }
}

// this class is added to the body tag when the modal is open.
.freezeBodyScroll {
    overflow: hidden;

    position: fixed;

    width: 100vw;
    height: 100vh;
}
