/* @description Generates styles for the Modal component */
@import '../../globals/sass/helpers-all';
$Modal_animation-speed: 350ms;

.Modal {
    overflow: auto;

    position: relative;
    z-index: get-z-index('modalContent');
    top: 15vh;

    width: 80%;
    max-width: 46rem;
    max-height: 70vh;
    margin: 0 auto;

    border-radius: rem-calc($g-radius);
    background: $White;
}

.ModalWrapper {
    position: fixed;
    z-index: 97;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.ModalContent {
    padding: spacingUnit(5);

    &.fullBleed {
        padding: 0;
    }
}

.Overlay {
    position: fixed;
    z-index: get-z-index('modalOverlay');
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);
}

.ModalCloseButton {
    position: absolute;
    top: rem-calc(22);
    right: spacingUnit(5);

    svg * {
        fill: $RegentGray;
    }

    &:hover svg * {
        fill: $AstroGranite;
    }
}

.TitleBar {
    width: 100%;
    padding: spacingUnit(6) spacingUnit(8) spacingUnit(6) spacingUnit(6);

    font-size: 1rem;

    border-radius: rem-calc($g-radius) rem-calc($g-radius) 0 0;
    background: $Paste;
}


// Animation

.enter {
    opacity: 0.01;

    &.enterActive {
        opacity: 1;

        transition: opacity $Modal_animation-speed ease-in;
    }
}

.leave {
    opacity: 1;

    &.leaveActive {
        opacity: 0.01;

        transition: opacity $Modal_animation-speed ease-out;
    }
}

.appear {
    opacity: 0.01;

    &.appearActive {
        opacity: 1;

        transition: opacity $Modal_animation-speed ease-in;
    }
}

// this class is added to the body tag when the modal is open.
.freezeBodyScroll {
    overflow: hidden;

    position: fixed;

    width: 100vw;
    height: 100vh;
}
