// Resets
// Place all resets and normalizations in this file.

body,
form {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
    margin: 0;
}

p:first-child,
p.first {
    margin-top: 0;
}

img {
    border: 0;
}

fieldset,
legend {
    border: 0;
    padding: 0;
    margin: 0;
}

acronym {
    cursor: help;
}


time {
    cursor: default;
}

em {
    font-style: italic;
}

sup {
    vertical-align: top;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
    outline: none !important;
}

// Lists _____________________________________________________________________

ol,
ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
