/* @description Generates styles for the InputLabelInline component */
@import '../../globals/sass/helpers-all';

.InputLabelInline {
    display: inline-flex;

    width: 100%;
    margin: 0;
    margin-bottom: 0;

    align-items: center;
    flex-wrap: wrap;
}
