/* @description Generates styles for the InputLabelInline component */
@import '../../globals/sass/helpers-all';

.InputLabelInline {
    display: inline-flex;

    width: 100%;
    margin: 0;

    align-items: center;
    flex-wrap: wrap;
}

.md {
    font-size: rem-calc(14);
    line-height: calculateLineHeightTarget(14, 16);
}
