/* @description Generates styles for the InputLabelInline component */
@import '../../globals/sass/helpers-all';

.InputLabelInline {
    display: inline-flex;

    width: 100%;
    margin: 0;
    // override global p margin, we need important because this is a single element and inheritence override is not available.
    margin-bottom: 0 !important;

    align-items: center;
    flex-wrap: wrap;
}
