// Only include mixins here. No keyframe animations, styles, etc

@mixin animation($animation) {
    -webkit-animation: #{$animation};
    animation: #{$animation};
}

@mixin animation_name($name) {
    -webkit-animation-name: #{$name};
    animation-name: #{$name};
}

@mixin animation_duration($duration) {
    -webkit-animation-duration: #{$duration};
    animation-duration: #{$duration};
}

@mixin animation_delay($delay) {
    -webkit-animation-delay: #{$delay};
    animation-delay: #{$delay};
}

@mixin animation_direction($direction) {
    -webkit-animation-direction: #{$direction};
    animation-direction: #{$direction};
}

@mixin animation_fill_mode($fill_mode) {
    -webkit-animation-fill-mode: #{$fill_mode};
    animation-fill-mode: #{$fill_mode};
}

@mixin animation_play_state($play_state) {
    -webkit-animation-play-state: #{$play_state};
    animation-play-state: #{$play_state};
}

@mixin animation_timing_function($timing_function) {
    -webkit-animation-timing-function: #{$timing_function};
    animation-timing-function: #{$timing_function};
}

@mixin animation_iteration_count($count) {
    -webkit-animation-iteration-count: #{$count};
    animation-iteration-count: #{$count};
}

@mixin backface_visibility($visibility) {
    -webkit-backface-visibility: #{$visibility} !important;
    -o-backface-visibility: #{$visibility} !important;
    backface-visibility: #{$visibility} !important;
}

// TODO - 9/5/2012
// Enable this to accept multiple animation names:
// http://beta.compass-style.org/reference/compass/css3/animation/#mixin-animation
// -K2
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content
    }

    @-o-keyframes #{$name} {
        @content
    }

    @-moz-keyframes #{$name} {
        @content
    }

    @keyframes #{$name} {
        @content
    }
}

// Can simplify all mixins with the vendor mixin but
// this one doesnt work since we need to escape sass' parsing
// on the @ symbol in front of -keyframes. Apparently it's fixed
// in sass 3.2. http://stackoverflow.com/questions/10372717/how-to-create-a-keyframes-mixin-in-scss-3-1-16
// In which case we need to upgrade ruby. at least on cougar.
// sigh....
// @mixin keyframes($name) {
//     @include vendors($name) {
//         @content;
//     }
// }

// ===========================================================================
// Keyframe Animation Mixins
//
// Modified from the work of Dan Eden's Animate.css library:
// http://daneden.me/animate
// ===========================================================================

@mixin animation-flash {
    @include keyframes(flash) {
        0%, 50%, 100% {
            opacity: 1;
        }
        25%, 75% {
            opacity: 0;
        }
    }

    .flash {
        @include animation_name(flash);
    }
}

@mixin animation-shake {
    @-webkit-keyframes shake {
        0%, 100% {
            -webkit-transform: translateX(0);
        }

        10%, 30%, 50%, 70%, 90% {
            -webkit-transform: translateX(-10px);
        }

        20%, 40%, 60%, 80% {
            -webkit-transform: translateX(10px);
        }
    }

    @keyframes shake {
        0%, 100% {
            transform: translateX(0);
        }

        10%, 30%, 50%, 70%, 90% {
            transform: translateX(-10px);
        }

        20%, 40%, 60%, 80% {
            transform: translateX(10px);
        }

    }

    .shake {
        @include animation_name(shake);
    }
}


@mixin animation-bounce {
    @-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-30px);
        }

        60% {
            -webkit-transform: translateY(-15px);
        }
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }

    .bounce {
        @include animation_name(bounce);
    }
}

@mixin animation-tada {
    @-webkit-keyframes tada {
        0% {
            -webkit-transform: scale(1);
        }

        10%, 20% {
            -webkit-transform: scale(0.9) rotate(-3deg);
        }

        30%, 50%, 70%, 90% {
            -webkit-transform: scale(1.1) rotate(3deg);
        }

        40%, 60%, 80% {
            -webkit-transform: scale(1.1) rotate(-3deg);
        }

        100% {
            -webkit-transform: scale(1) rotate(0);
        }
    }

    @keyframes tada {
        0% {
            transform: scale(1);
        }

        10%, 20% {
            transform: scale(0.9) rotate(-3deg);
        }

        30%, 50%, 70%, 90% {
            transform: scale(1.1) rotate(3deg);
        }

        40%, 60%, 80% {
            transform: scale(1.1) rotate(-3deg);
        }

        100% {
            transform: scale(1) rotate(0);
        }
    }

    .tada {
        @include animation_name(tada);
    }
}

@mixin animation-swing {
    @-webkit-keyframes swing {
        20%, 40%, 60%, 80%, 100% {
            -webkit-transform-origin: top center;
        }

        20% {
            -webkit-transform: rotate(15deg);
        }

        40% {
            -webkit-transform: rotate(-10deg);
        }

        60% {
            -webkit-transform: rotate(5deg);
        }

        80% {
            -webkit-transform: rotate(-5deg);
        }

        100% {
            -webkit-transform: rotate(0deg);
        }
    }

    @keyframes swing {
        20% {
            transform: rotate(15deg);
        }

        40% {
            transform: rotate(-10deg);
        }

        60% {
            transform: rotate(5deg);
        }

        80% {
            transform: rotate(-5deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    .swing {
        @include transform_origin(top center);
        @include animation_name(swing);
    }
}

@mixin animation-wobble {
    @-webkit-keyframes wobble {
        0% {
            -webkit-transform: translateX(0%);
        }

        15% {
            -webkit-transform: translateX(-25%) rotate(-5deg);
        }

        30% {
            -webkit-transform: translateX(20%) rotate(3deg);
        }

        45% {
            -webkit-transform: translateX(-15%) rotate(-3deg);
        }

        60% {
            -webkit-transform: translateX(10%) rotate(2deg);
        }

        75% {
            -webkit-transform: translateX(-5%) rotate(-1deg);
        }

        100% {
            -webkit-transform: translateX(0%);
        }
    }


    @keyframes wobble {
        0% {
            transform: translateX(0%);
        }

        15% {
            transform: translateX(-25%) rotate(-5deg);
        }

        30% {
            transform: translateX(20%) rotate(3deg);
        }

        45% {
            transform: translateX(-15%) rotate(-3deg);
        }

        60% {
            transform: translateX(10%) rotate(2deg);
        }

        75% {
            transform: translateX(-5%) rotate(-1deg);
        }

        100% {
            transform: translateX(0%);
        }
    }

    .wobble {
        @include animation_name(wobble);
    }
}

@mixin animation-pulse {
    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(1);
        }

        50% {
            -webkit-transform: scale(1.1);
        }

        100% {
            -webkit-transform: scale(1);
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .pulse {
        @include animation_name(pulse);
    }
}

@mixin animation-flip {
    @-webkit-keyframes flip {
        0% {
            -webkit-transform: perspective(400px) rotateY(0);
            -webkit-animation-timing-function: ease-out;
        }

        40% {
            -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
            -webkit-animation-timing-function: ease-out;
        }

        50% {
            -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
            -webkit-animation-timing-function: ease-in;
        }

        80% {
            -webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
            -webkit-animation-timing-function: ease-in;
        }

        100% {
            -webkit-transform: perspective(400px) scale(1);
            -webkit-animation-timing-function: ease-in;
        }
    }

    @keyframes flip {
        0% {
            transform: perspective(400px) rotateY(0);
            animation-timing-function: ease-out;
        }

        40% {
            transform: perspective(400px) translateZ(150px) rotateY(170deg);
            animation-timing-function: ease-out;
        }

        50% {
            transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
            animation-timing-function: ease-in;
        }

        80% {
            transform: perspective(400px) rotateY(360deg) scale(.95);
            animation-timing-function: ease-in;
        }

        100% {
            transform: perspective(400px) scale(1);
            animation-timing-function: ease-in;
        }
    }

    .flip {
        @include backface_visibility(visible);
        @include animation_name(flip);
    }
}

@mixin animation-flipInX {
    @-webkit-keyframes flipInX {
        0% {
            -webkit-transform: perspective(400px) rotateX(90deg);
            opacity: 0;
        }

        40% {
            -webkit-transform: perspective(400px) rotateX(-10deg);
        }

        70% {
            -webkit-transform: perspective(400px) rotateX(10deg);
        }

        100% {
            -webkit-transform: perspective(400px) rotateX(0deg);
            opacity: 1;
        }
    }

    @keyframes flipInX {
        0% {
            transform: perspective(400px) rotateX(90deg);
            opacity: 0;
        }

        40% {
            transform: perspective(400px) rotateX(-10deg);
        }

        70% {
            transform: perspective(400px) rotateX(10deg);
        }

        100% {
            transform: perspective(400px) rotateX(0deg);
            opacity: 1;
        }
    }

    .flipInX {
        @include backface_visibility(visible);
        @include animation_name(flipInX);
    }
}


@mixin animation-flipUpX {

    @-webkit-keyframes flipUpX {
        0% {
            -webkit-transform: perspective(400px) rotateX(-90deg);
            opacity: 0;
        }

        40% {
            -webkit-transform: perspective(400px) rotateX(5deg);
            opacity:0.5;
        }

        70% {
            -webkit-transform: perspective(400px) rotateX(-5deg);
        }

        100% {
            -webkit-transform: perspective(400px) rotateX(0deg);
            opacity: 1;
        }

    }

     @keyframes flipUpX {
        0% {
            transform: perspective(400px) rotateX(-90deg);
            opacity: 0;
        }

        40% {
            transform: perspective(400px) rotateX(5deg);
            opacity:0.5;
        }

        70% {
            transform: perspective(400px) rotateX(-5deg);
        }

        100% {
            transform: perspective(400px) rotateX(0deg);
            opacity: 1;
        }

    }

    .flipUpX {
        @include backface_visibility(visible);
        @include animation_name(flipUpX);
    }
}



@mixin animation-flipOutX {
    @-webkit-keyframes flipOutX {
        0% {
            -webkit-transform: perspective(400px) rotateX(0deg);
            opacity: 1;
        }

        100% {
            -webkit-transform: perspective(400px) rotateX(90deg);
            opacity: 0;
        }
    }

    @keyframes flipOutX {
        0% {
            transform: perspective(400px) rotateX(0deg);
            opacity: 1;
        }

        100% {
            transform: perspective(400px) rotateX(90deg);
            opacity: 0;
        }
    }

    .flipOutX {
        @include animation_name(flipOutX);
        @include backface_visibility(visible);
    }
}

@mixin animation-flipInY {
    @-webkit-keyframes flipInY {
        0% {
            -webkit-transform: perspective(400px) rotateY(90deg);
            opacity: 0;
        }

        40% {
            -webkit-transform: perspective(400px) rotateY(-10deg);
        }

        70% {
            -webkit-transform: perspective(400px) rotateY(10deg);
        }

        100% {
            -webkit-transform: perspective(400px) rotateY(0deg);
            opacity: 1;
        }
    }

    @keyframes flipInY {
        0% {
            transform: perspective(400px) rotateY(90deg);
            opacity: 0;
        }

        40% {
            transform: perspective(400px) rotateY(-10deg);
        }

        70% {
            transform: perspective(400px) rotateY(10deg);
        }

        100% {
            transform: perspective(400px) rotateY(0deg);
            opacity: 1;
        }
    }

    .flipInY {
        @include backface_visibility(visible);
        @include animation_name(flipInY);
    }
}

@mixin animation-flipOutY {
    @-webkit-keyframes flipOutY {
        0% {
            -webkit-transform: perspective(400px) rotateY(0deg);
            opacity: 1;
        }

        100% {
            -webkit-transform: perspective(400px) rotateY(90deg);
            opacity: 0;
        }
    }

    @keyframes flipOutY {
        0% {
            transform: perspective(400px) rotateY(0deg);
            opacity: 1;
        }

        100% {
            transform: perspective(400px) rotateY(90deg);
            opacity: 0;
        }
    }

    .flipOutY {
        @include backface_visibility(visible);
        @include animation_name(flipOutY);
    }
}

@mixin animation-fadeIn {
    @include keyframes(fadeIn) {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fadeIn {
        @include animation_name(fadeIn);
    }
}

@mixin animation-fadeInUp {
    @-webkit-keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fadeInUp {
        @include animation_name(fadeInUp);
    }
}

@mixin animation-fadeInDown {
    @-webkit-keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fadeInDown {
        @include animation_name(fadeInDown);
    }
}

@mixin animation-fadeInLeft {
    @-webkit-keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }

    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .fadeInLeft {
        @include animation_name(fadeInLeft);
    }
}

@mixin animation-fadeInRight {
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translateX(20px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .fadeInRight {
        @include animation_name(fadeInRight);
    }
}

@mixin animation-fadeInUpBig {
    @-webkit-keyframes fadeInUpBig {
        0% {
            opacity: 0;
            -webkit-transform: translateY(2000px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }

    @keyframes fadeInUpBig {
        0% {
            opacity: 0;
            transform: translateY(2000px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fadeInUpBig {
        @include animation_name(fadeInUpBig);
    }
}

@mixin animation-fadeInDownBig {
    @-webkit-keyframes fadeInDownBig {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }

    @keyframes fadeInDownBig {
        0% {
            opacity: 0;
            transform: translateY(-2000px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fadeInDownBig {
        @include animation_name(fadeInDownBig);
    }
}

@mixin animation-fadeInLeftBig {
    @-webkit-keyframes fadeInLeftBig {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-2000px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }

    @keyframes fadeInLeftBig {
        0% {
            opacity: 0;
            transform: translateX(-2000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .fadeInLeftBig {
        @include animation_name(fadeInLeftBig);
    }
}

@mixin animation-fadeInRightBig {
    @-webkit-keyframes fadeInRightBig {
        0% {
            opacity: 0;
            -webkit-transform: translateX(2000px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }

    @keyframes fadeInRightBig {
        0% {
            opacity: 0;
            transform: translateX(2000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .fadeInRightBig {
        @include animation_name(fadeInRightBig);
    }
}

@mixin animation-fadeOut {
    @include keyframes(fadeOut) {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .fadeOut {
        @include animation_name(fadeOut);
    }
}

@mixin animation-fadeOutUp {
    @-webkit-keyframes fadeOutUp {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateY(-20px);
        }
    }

    @keyframes fadeOutUp {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    .fadeOutUp {
        @include animation_name(fadeOutUp);
    }
}

@mixin animation-fadeOutDown {
    @-webkit-keyframes fadeOutDown {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateY(20px);
        }
    }

    @keyframes fadeOutDown {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(20px);
        }
    }

    .fadeOutDown {
        @include animation_name(fadeOutDown);
    }
}

@mixin animation-fadeOutLeft {
    @-webkit-keyframes fadeOutLeft {
        0% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(-20px);
        }
    }

    @keyframes fadeOutLeft {
        0% {
            opacity: 1;
            transform: translateX(0);
        }

        100% {
            opacity: 0;
            transform: translateX(-20px);
        }
    }

    .fadeOutLeft {
        @include animation_name(fadeOutLeft);
    }
}

@mixin animation-fadeOutRight {
    @-webkit-keyframes fadeOutRight {
        0% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(20px);
        }
    }

    @keyframes fadeOutRight {
        0% {
            opacity: 1;
            transform: translateX(0);
        }

        100% {
            opacity: 0;
            transform: translateX(20px);
        }
    }

    .fadeOutRight {
        @include animation_name(fadeOutRight);
    }
}

@mixin animation-fadeOutUpBig {
    @-webkit-keyframes fadeOutUpBig {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
        }
    }

    @keyframes fadeOutUpBig {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(-2000px);
        }
    }

    .fadeOutUpBig {
        @include animation_name(fadeOutUpBig);
    }
}

@mixin animation-fadeOutDownBig {
    @-webkit-keyframes fadeOutDownBig {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateY(2000px);
        }
    }

    @keyframes fadeOutDownBig {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(2000px);
        }
    }

    .fadeOutDownBig {
        @include animation_name(fadeOutDownBig);
    }
}

@mixin animation-fadeOutLeftBig {
    @-webkit-keyframes fadeOutLeftBig {
        0% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(-2000px);
        }
    }

    @keyframes fadeOutLeftBig {
        0% {
            opacity: 1;
            transform: translateX(0);
        }

        100% {
            opacity: 0;
            transform: translateX(-2000px);
        }
    }

    .fadeOutLeftBig {
        @include animation_name(fadeOutLeftBig);
    }
}

@mixin animation-fadeOutRightBig {
    @-webkit-keyframes fadeOutRightBig {
        0% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(2000px);
        }
    }

    @keyframes fadeOutRightBig {
        0% {
            opacity: 1;
            transform: translateX(0);
        }

        100% {
            opacity: 0;
            transform: translateX(2000px);
        }
    }

    .fadeOutRightBig {
        @include animation_name(fadeOutRightBig);
    }
}

@mixin animation-bounceIn {
    @-webkit-keyframes bounceIn {
        0% {
            opacity: 0;
            -webkit-transform: scale(.3);
        }

        50% {
            opacity: 1;
            -webkit-transform: scale(1.05);
        }

        70% {
            -webkit-transform: scale(.9);
        }

        100% {
            -webkit-transform: scale(1);
        }
    }

    @keyframes bounceIn {
        0% {
            opacity: 0;
            transform: scale(.3);
        }

        50% {
            opacity: 1;
            transform: scale(1.05);
        }

        70% {
            transform: scale(.9);
        }

        100% {
            transform: scale(1);
        }
    }

    .bounceIn {
        @include animation_name(bounceIn);
    }
}

@mixin animation-bounceInUp {
    @-webkit-keyframes bounceInUp {
        0% {
            opacity: 0;
            -webkit-transform: translateY(2000px);
        }

        60% {
            opacity: 1;
            -webkit-transform: translateY(-30px);
        }

        80% {
            -webkit-transform: translateY(10px);
        }

        100% {
            -webkit-transform: translateY(0);
        }
    }

    @keyframes bounceInUp {
        0% {
            opacity: 0;
            transform: translateY(2000px);
        }

        60% {
            opacity: 1;
            transform: translateY(-30px);
        }

        80% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .bounceInUp {
        @include animation_name(bounceInUp);
    }
}

@mixin animation-bounceInDown {
    @-webkit-keyframes bounceInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
        }

        60% {
            opacity: 1;
            -webkit-transform: translateY(30px);
        }

        80% {
            -webkit-transform: translateY(-10px);
        }

        100% {
            -webkit-transform: translateY(0);
        }
    }

    @keyframes bounceInDown {
        0% {
            opacity: 0;
            transform: translateY(-2000px);
        }

        60% {
            opacity: 1;
            transform: translateY(30px);
        }

        80% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .bounceInDown {
        @include animation_name(bounceInDown);
    }
}

@mixin animation-bounceInLeft {
    @-webkit-keyframes bounceInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-2000px);
        }

        60% {
            opacity: 1;
            -webkit-transform: translateX(30px);
        }

        80% {
            -webkit-transform: translateX(-10px);
        }

        100% {
            -webkit-transform: translateX(0);
        }
    }

    @keyframes bounceInLeft {
        0% {
            opacity: 0;
            transform: translateX(-2000px);
        }

        60% {
            opacity: 1;
            transform: translateX(30px);
        }

        80% {
            transform: translateX(-10px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .bounceInLeft {
        @include animation_name(bounceInLeft);
    }
}

@mixin animation-bounceInRight {
    @-webkit-keyframes bounceInRight {
        0% {
            opacity: 0;
            -webkit-transform: translateX(2000px);
        }

        60% {
            opacity: 1;
            -webkit-transform: translateX(-30px);
        }

        80% {
            -webkit-transform: translateX(10px);
        }

        100% {
            -webkit-transform: translateX(0);
        }
    }

    @keyframes bounceInRight {
        0% {
            opacity: 0;
            transform: translateX(2000px);
        }

        60% {
            opacity: 1;
            transform: translateX(-30px);
        }

        80% {
            transform: translateX(10px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .bounceInRight {
        @include animation_name(bounceInRight);
    }
}

@mixin animation-bounceOut {
    @-webkit-keyframes bounceOut {
        0% {
            -webkit-transform: scale(1);
        }

        25% {
            -webkit-transform: scale(.95);
        }

        50% {
            opacity: 1;
            -webkit-transform: scale(1.1);
        }

        100% {
            opacity: 0;
            -webkit-transform: scale(.3);
        }
    }

    @keyframes bounceOut {
        0% {
            transform: scale(1);
        }

        25% {
            transform: scale(.95);
        }

        50% {
            opacity: 1;
            transform: scale(1.1);
        }

        100% {
            opacity: 0;
            transform: scale(.3);
        }
    }

    .bounceOut {
        @include animation_name(bounceOut);
    }
}

@mixin animation-bounceOutUp {
    @-webkit-keyframes bounceOutUp {
        0% {
            -webkit-transform: translateY(0);
        }

        20% {
            opacity: 1;
            -webkit-transform: translateY(20px);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
        }
    }

    @keyframes bounceOutUp {
        0% {
            transform: translateY(0);
        }

        20% {
            opacity: 1;
            transform: translateY(20px);
        }

        100% {
            opacity: 0;
            transform: translateY(-2000px);
        }
    }

    .bounceOutUp {
        @include animation_name(bounceOutUp);
    }
}

@mixin animation-bounceOutDown {
    @-webkit-keyframes bounceOutDown {
        0% {
            -webkit-transform: translateY(0);
        }

        20% {
            opacity: 1;
            -webkit-transform: translateY(-20px);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateY(2000px);
        }
    }

    @keyframes bounceOutDown {
        0% {
            transform: translateY(0);
        }

        20% {
            opacity: 1;
            transform: translateY(-20px);
        }

        100% {
            opacity: 0;
            transform: translateY(2000px);
        }
    }

    .bounceOutDown {
        @include animation_name(bounceOutDown);
    }
}

@mixin animation-bounceOutLeft {
    @-webkit-keyframes bounceOutLeft {
        0% {
            -webkit-transform: translateX(0);
        }

        20% {
            opacity: 1;
            -webkit-transform: translateX(20px);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(-2000px);
        }
    }

    @keyframes bounceOutLeft {
        0% {
            transform: translateX(0);
        }

        20% {
            opacity: 1;
            transform: translateX(20px);
        }

        100% {
            opacity: 0;
            transform: translateX(-2000px);
        }
    }

    .bounceOutLeft {
        @include animation_name(bounceOutLeft);
    }
}

@mixin animation-bounceOutRight {
    @-webkit-keyframes bounceOutRight {
        0% {
            -webkit-transform: translateX(0);
        }

        20% {
            opacity: 1;
            -webkit-transform: translateX(-20px);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(2000px);
        }
    }

    @keyframes bounceOutRight {
        0% {
            transform: translateX(0);
        }

        20% {
            opacity: 1;
            transform: translateX(-20px);
        }

        100% {
            opacity: 0;
            transform: translateX(2000px);
        }
    }

    .bounceOutRight {
        @include animation_name(bounceOutRight);
    }
}

@mixin animation-rotateIn {
    @-webkit-keyframes rotateIn {
        0% {
            -webkit-transform-origin: center center;
            -webkit-transform: rotate(-200deg);
            opacity: 0;
        }

        100% {
            -webkit-transform-origin: center center;
            -webkit-transform: rotate(0);
            opacity: 1;
        }
    }

    @keyframes rotateIn {
        0% {
            transform-origin: center center;
            transform: rotate(-200deg);
            opacity: 0;
        }

        100% {
            transform-origin: center center;
            transform: rotate(0);
            opacity: 1;
        }
    }

    .rotateIn {
        @include animation_name(rotateIn);
    }
}

@mixin animation-rotateInUpLeft {
    @-webkit-keyframes rotateInUpLeft {
        0% {
            -webkit-transform-origin: left bottom;
            -webkit-transform: rotate(90deg);
            opacity: 0;
        }

        100% {
            -webkit-transform-origin: left bottom;
            -webkit-transform: rotate(0);
            opacity: 1;
        }
    }

    @keyframes rotateInUpLeft {
        0% {
            transform-origin: left bottom;
            transform: rotate(90deg);
            opacity: 0;
        }

        100% {
            transform-origin: left bottom;
            transform: rotate(0);
            opacity: 1;
        }
    }

    .rotateInUpLeft {
        @include animation_name(rotateInUpLeft);
    }
}

@mixin animation-rotateInDownLeft {
    @-webkit-keyframes rotateInDownLeft {
        0% {
            -webkit-transform-origin: left bottom;
            -webkit-transform: rotate(-90deg);
            opacity: 0;
        }

        100% {
            -webkit-transform-origin: left bottom;
            -webkit-transform: rotate(0);
            opacity: 1;
        }
    }

    @keyframes rotateInDownLeft {
        0% {
            transform-origin: left bottom;
            transform: rotate(-90deg);
            opacity: 0;
        }

        100% {
            transform-origin: left bottom;
            transform: rotate(0);
            opacity: 1;
        }
    }

    .rotateInDownLeft {
        @include animation_name(rotateInDownLeft);
    }
}

@mixin animation-rotateInUpRight {
    @-webkit-keyframes rotateInUpRight {
        0% {
            -webkit-transform: rotate(-90deg);
            opacity: 0;
        }

        100% {
            -webkit-transform: rotate(0);
            opacity: 1;
        }
    }

    @keyframes rotateInUpRight {
        0% {
            transform: rotate(-90deg);
            opacity: 0;
        }

        100% {
            transform: rotate(0);
            opacity: 1;
        }
    }

    .rotateInUpRight {
        @include animation_name(rotateInUpRight);
        @include transform_origin(right bottom);
    }
}

@mixin animation-rotateInDownRight {
    @-webkit-keyframes rotateInDownRight {
        0% {
            -webkit-transform-origin: right bottom;
            -webkit-transform: rotate(90deg);
            opacity: 0;
        }

        100% {
            -webkit-transform-origin: right bottom;
            -webkit-transform: rotate(0);
            opacity: 1;
        }
    }

    @keyframes rotateInDownRight {
        0% {
            transform-origin: right bottom;
            transform: rotate(90deg);
            opacity: 0;
        }

        100% {
            transform-origin: right bottom;
            transform: rotate(0);
            opacity: 1;
        }
    }

    .rotateInDownRight {
        @include animation_name(rotateInDownRight);
    }
}

@mixin animation-rotateOut {
    @-webkit-keyframes rotateOut {
        0% {
            -webkit-transform-origin: center center;
            -webkit-transform: rotate(0);
            opacity: 1;
        }

        100% {
            -webkit-transform-origin: center center;
            -webkit-transform: rotate(200deg);
            opacity: 0;
        }
    }

    @keyframes rotateOut {
        0% {
            transform-origin: center center;
            transform: rotate(0);
            opacity: 1;
        }

        100% {
            transform-origin: center center;
            transform: rotate(200deg);
            opacity: 0;
        }
    }

    .rotateOut {
        @include animation_name(rotateOut);
    }
}

@mixin animation-rotateOutUpLeft {
    @-webkit-keyframes rotateOutUpLeft {
        0% {
            -webkit-transform-origin: left bottom;
            -webkit-transform: rotate(0);
            opacity: 1;
        }

        100% {
            -webkit-transform-origin: left bottom;
            -webkit-transform: rotate(-90deg);
            opacity: 0;
        }
    }

    @keyframes rotateOutUpLeft {
        0% {
            transform-origin: left bottom;
            transform: rotate(0);
            opacity: 1;
        }

        100% {
            -transform-origin: left bottom;
            -transform: rotate(-90deg);
            opacity: 0;
        }
    }

    .rotateOutUpLeft {
        @include animation_name(rotateOutUpLeft);
    }
}

@mixin animation-rotateOutDownLeft {
    @-webkit-keyframes rotateOutDownLeft {
        0% {
            -webkit-transform-origin: left bottom;
            -webkit-transform: rotate(0);
            opacity: 1;
        }

        100% {
            -webkit-transform-origin: left bottom;
            -webkit-transform: rotate(90deg);
            opacity: 0;
        }
    }

    @keyframes rotateOutDownLeft {
        0% {
            transform-origin: left bottom;
            transform: rotate(0);
            opacity: 1;
        }

        100% {
            transform-origin: left bottom;
            transform: rotate(90deg);
            opacity: 0;
        }
    }

    .rotateOutDownLeft {
        @include animation_name(rotateOutDownLeft);
    }
}

@mixin animation-rotateOutUpRight {
    @-webkit-keyframes rotateOutUpRight {
        0% {
            -webkit-transform-origin: right bottom;
            -webkit-transform: rotate(0);
            opacity: 1;
        }

        100% {
            -webkit-transform-origin: right bottom;
            -webkit-transform: rotate(90deg);
            opacity: 0;
        }
    }

    @keyframes rotateOutUpRight {
        0% {
            transform-origin: right bottom;
            transform: rotate(0);
            opacity: 1;
        }

        100% {
            transform-origin: right bottom;
            transform: rotate(90deg);
            opacity: 0;
        }
    }

    .rotateOutUpRight {
        @include animation_name(rotateOutUpRight);
    }
}

@mixin animation-rotateOutDownRight {
    @-webkit-keyframes rotateOutDownRight {
        0% {
            -webkit-transform-origin: right bottom;
            -webkit-transform: rotate(0);
            opacity: 1;
        }

        100% {
            -webkit-transform-origin: right bottom;
            -webkit-transform: rotate(-90deg);
            opacity: 0;
        }
    }

    @keyframes rotateOutDownRight {
        0% {
            transform-origin: right bottom;
            transform: rotate(0);
            opacity: 1;
        }

        100% {
            transform-origin: right bottom;
            transform: rotate(-90deg);
            opacity: 0;
        }
    }

    .rotateOutDownRight {
        @include animation_name(rotateOutDownRight);
    }
}

@mixin animation-hinge {
    @-webkit-keyframes hinge {
        0% {
            -webkit-transform: rotate(0);
            -webkit-transform-origin: top left;
            -webkit-animation-timing-function: ease-in-out;
        }

        20%, 60% {
            -webkit-transform: rotate(80deg);
            -webkit-transform-origin: top left;
            -webkit-animation-timing-function: ease-in-out;
        }

        40% {
            -webkit-transform: rotate(60deg);
            -webkit-transform-origin: top left;
            -webkit-animation-timing-function: ease-in-out;
        }

        80% {
            -webkit-transform: rotate(60deg) translateY(0);
            -webkit-transform-origin: top left;
            -webkit-animation-timing-function: ease-in-out;
            opacity: 1;
        }

        100% {
            -webkit-transform: translateY(700px);
            opacity: 0;
        }
    }

    @keyframes hinge {
        0% {
            transform: rotate(0);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        20%, 60% {
            transform: rotate(80deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        40% {
            transform: rotate(60deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        80% {
            transform: rotate(60deg) translateY(0);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
            opacity: 1;
        }

        100% {
            transform: translateY(700px);
            opacity: 0;
        }
    }

    .hinge {
        @include animation_name(hinge);
    }

    .animated.hinge {
        animation-duration: 2s;
    }
}

@mixin animation-rollIn {
    @-webkit-keyframes rollIn {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-100%) rotate(-120deg);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateX(0px) rotate(0deg);
        }
    }

    @keyframes rollIn {
        0% {
            opacity: 0;
            transform: translateX(-100%) rotate(-120deg);
        }

        100% {
            opacity: 1;
            transform: translateX(0px) rotate(0deg);
        }
    }

    .rollIn {
        @include animation_name(rollIn);
    }
}

@mixin animation-rollOut {
    @-webkit-keyframes rollOut {
        0% {
            opacity: 1;
            -webkit-transform: translateX(0px) rotate(0deg);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(100%) rotate(120deg);
        }
    }

    @keyframes rollOut {
        0% {
            opacity: 1;
            transform: translateX(0px) rotate(0deg);
        }

        100% {
            opacity: 0;
            transform: translateX(100%) rotate(120deg);
        }
    }

    .rollOut {
        @include animation_name(rollOut);
    }
}

@mixin animation-lightSpeedIn {
    @-webkit-keyframes lightSpeedIn {
        0% {
            -webkit-transform: translateX(100%) skewX(-30deg);
            opacity: 0;
        }

        60% {
            -webkit-transform: translateX(-20%) skewX(30deg);
            opacity: 1;
        }

        80% {
            -webkit-transform: translateX(0%) skewX(-15deg);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateX(0%) skewX(0deg);
            opacity: 1;
        }
    }

    @keyframes lightSpeedIn {
        0% {
            transform: translateX(100%) skewX(-30deg);
            opacity: 0;
        }

        60% {
            transform: translateX(-20%) skewX(30deg);
            opacity: 1;
        }

        80% {
            transform: translateX(0%) skewX(-15deg);
            opacity: 1;
        }

        100% {
            transform: translateX(0%) skewX(0deg);
            opacity: 1;
        }
    }

    .lightSpeedIn {
        @include animation_name(lightSpeedIn);
        @include animation_timing_function(ease-out);
    }

    .animated.lightSpeedIn {
        @include animation_duration(0.5s);
    }
}

@mixin animation-lightSpeedOut {
    @-webkit-keyframes lightSpeedOut {
        0% {
            -webkit-transform: translateX(0%) skewX(0deg);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateX(100%) skewX(-30deg);
            opacity: 0;
        }
    }

    @keyframes lightSpeedOut {
        0% {
            transform: translateX(0%) skewX(0deg);
            opacity: 1;
        }

        100% {
            transform: translateX(100%) skewX(-30deg);
            opacity: 0;
        }
    }

    .lightSpeedOut {
        @include animation_name(lightSpeedOut);
        @include animation_timing_function(ease-in);
    }

    .animated.lightSpeedOut {
        @include animation_duration(0.25s);
    }
}

@mixin animation-wiggle {
    @-webkit-keyframes wiggle {
        0% {
            -webkit-transform: skewX(9deg);
        }

        10% {
            -webkit-transform: skewX(-8deg);
        }

        20% {
            -webkit-transform: skewX(7deg);
        }

        30% {
            -webkit-transform: skewX(-6deg);
        }

        40% {
            -webkit-transform: skewX(5deg);
        }

        50% {
            -webkit-transform: skewX(-4deg);
        }

        60% {
            -webkit-transform: skewX(3deg);
        }

        70% {
            -webkit-transform: skewX(-2deg);
        }

        80% {
            -webkit-transform: skewX(1deg);
        }

        90% {
            -webkit-transform: skewX(0deg);
        }

        100% {
            -webkit-transform: skewX(0deg);
        }
    }

    @keyframes wiggle {
        0% {
            transform: skewX(9deg);
        }

        10% {
            transform: skewX(-8deg);
        }

        20% {
            transform: skewX(7deg);
        }

        30% {
            transform: skewX(-6deg);
        }

        40% {
            transform: skewX(5deg);
        }

        50% {
            transform: skewX(-4deg);
        }

        60% {
            transform: skewX(3deg);
        }

        70% {
            transform: skewX(-2deg);
        }

        80% {
            transform: skewX(1deg);
        }

        90% {
            transform: skewX(0deg);
        }

        100% {
            transform: skewX(0deg);
        }
    }

    .wiggle {
        @include animation_name(wiggle);
        @include animation_timing_function(ease-in);
    }

    .animated.wiggle {
        @include animation_duration(0.75s);
    }
}

@mixin animation-fadeInOut {
    @-webkit-keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }


    .fade-in-out {
        @include animation_name(fadeInOut);
        @include animation_timing_function(linear);
        @include animation_duration(2s);

        &.loop {
            @include animation_iteration_count(infinite);
        }
    }
}
