
// Utilities
//
// Utilities are the heart and soul of Iris. Within them exists the global
// default logic & libaries that build the Ui Kit. Utilities contains SCSS mixins,
// ../settings: colors, radii, spacing, transitions, typography, z-index, and
// vendor overrides. Global functions also exist within this document. If
// you're adding/editing Iris, please browse through this folder.
//
// Markup: utilities.html
//
// Weight: 10
//
// Styleguide Utilities

$theme:   "vimeo" !default;

$img_dir: "../../../../../../images_v6/";
$iris_icon_dir: "../../../../../../svg/iris/";


@if $theme == "vimeo" {
    @import "../settings/_colors";
    @import "../settings/_spacing";
    @import "../settings/_transitions";
    @import "../settings/_typography";
    @import "../settings/_radii";
    @import "../settings/_z-index";
}

@import "../settings/_vendor_overrides";

@import "_animations";
@import "_common";
@import "_easing";
@import "_typography";
@import "_headers";

@import "../fills/_libsass";
@import "../fills/_utility";



@import "_functions";

$imported-modules: () !default;

// from https://github.com/wilsonpage/sass-import-once
/// Module export mixin
/// This mixin helps making sure a module is imported once and only once.
/// @access public
/// @param {String} $name - Name of exported module
/// @param {Bool} $warn [true] - Warn when module has been already imported
/// @require $imported-modules
@mixin exports($name, $warn: true) {
  @if (index($imported-modules, $name) == null) {
    $imported-modules: append($imported-modules, $name) !global;
    @content;
  } @else if $warn == true {
    @warn "Module `#{$name}` has already been imported.";
  }
}
