/* @description Generates styles for the FeatureTourPanelContent component */
@import '../globals/sass/helpers-all';

.FeatureTourPanelContent {
    padding: spacingUnit(8) spacingUnit(8) spacingUnit(6);

    border-radius: rem-calc(5);
    background: linear-gradient(-45deg, $VimeoBlue 0%, #093AC9 100%);
}
.DismissButton {
    position: absolute;
    top: spacingUnit(4);
    right: spacingUnit(4);

    svg {
        opacity: 0.7;

        transition: opacity 150ms ease;

        &:hover {
            opacity: 1;
        }

        * {
            fill: $White;
        }
    }
}
