/* @description Generates styles for the VerticalMenuItem component */
@import '../../globals/sass/helpers-all';
$VerticalMenuItem_IconSize: rem-calc(20);

.Wrapper {
    position: relative;

    width: 100%;

    &.textOverrides {
        max-width: $screen-sm-rem;
        margin-bottom: 0;
    }

    &.isActive {
        background-color: rgba($AstroGranite, 0.08);
    }
}

.Link {
    display: inline-block;

    position: relative;

    width: 100%;
    padding: 0.5rem ($VerticalMenuItem_IconSize + 1rem) 0.5rem 0.5rem;

    transition: background-color 250ms ease;

    &:hover {
        color: inherit;
        border-radius: rem-calc(2);
        background-color: rgba($AstroGranite, 0.14);
    }
}

.nestedInteractionWrapper {
    position: absolute;
    top: 0;
    right: 0;
}
