@import '../globals/sass/helpers-all';

.NotificationWarning {
    background-color: $PalePink;
}

.iconColor * {
    fill: $SunsetOrange;
}

.dismissButton {
    svg * {
        fill: $SunsetOrange !important; // overrides button icon color for special case
    }

    &:hover {
        background: rgba($SunsetOrange, 0.1) !important; // overrides button icon color for special case
    }
}
