@import "../../globals/sass/_helpers-all";
.LinkText {
    display: inline-block;

    position: relative;

    padding: 0;

    font-size: inherit;
    line-height: inherit;

    border: 0;
    background-color: transparent;

    transition: all 0.1s ease-in-out;
    text-decoration: none;

    appearance: none;

    &::-moz-focus-inner {
        margin: 0;
        padding: 0;

        border: 0;
    }
    &:hover,
    &:focus {
        cursor: pointer;
    }
    &:active {
        cursor: wait;
    }

    &::after {
        display: block;

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 1em;
        margin-top: 10px;

        border-bottom: 1px solid;

        content: '';
    }
}

// LinkText Colors
.primary {
    color: $LightLinkColor;
    &:hover,
    &:focus {
        color: $LightLinkColor-Hover;
    }
}

.light {
    color: $White;
    &:hover,
    &:focus {
        color: rgba(255, 255, 255, 0.7);
    }
}

.warning {
    color: $SunsetOrange;
    &:hover,
    &:focus {
        color: $SunsetOrange-Darkened;
    }
}

// LinkText Weights
.loud {
    font-weight: 600;
}

.inherit {
    font-weight: inherit;

    color: inherit;

    &::after {
        content: none;
    }
}

.silent {
    &::after {
        content: none;
    }
}
