/* @description Generates styles for the InputMessage component */
@import '../../globals/sass/helpers-all';

.InputMessage {
    @include ParagraphSm;

    overflow: hidden;

    &.darkTheme,
    &.darkTheme p {
        color: $inputs_text-color-dark !important;
    }

    &.negative,
    &.negative p {
        color: $inputs_error-color !important;
    }
}
