/* @description Generates styles for the Input component */
@import '../../globals/sass/helpers-all';

.InputText {
    @include sharedInputBaseStyles();
    @include sharedTextInputs();

    &::placeholder {
        color: $inputs_placeholder-color;
    }
}

// Sizes 
.md {
    @include sharedInputMediumStyles();
}

.lg {
    @include sharedInputLargeStyles();
}

// Icons

.hasIcon {
    &.md {
        padding-left: $input_has-icon-padding-md;
    }
    &.lg {
        padding-left: $input_has-icon-padding-lg;
    }
}
