/* @description Generates styles for the Tooltip component */
@import '../../globals/sass/helpers-all';
$tooltip-bg-color: #000000;
$tooltip-text-color: $White;
$tooltip-horizontal-padding: spacingUnit(3);
$tooltip-vertial-padding: 10;

.Tooltip {
    min-width: rem-calc(80);
    padding: rem-calc($tooltip-vertial-padding - 1) $tooltip-horizontal-padding;

    color: $tooltip-text-color;
    border-radius: rem-calc($g-radius);
    background-color: $tooltip-bg-color;

    p {
        margin: 0;

        color: $tooltip-text-color; //override default paragraph color
    }
}

.sm {
    max-height: rem-calc(34);

    text-align: center;
}

.lg {
    max-width: rem-calc(214);
}
