/* @description Generates styles for the MenuNestedItem component */
@import "../globals/sass/helpers-all";

.VerticalMenuNested {
  position: relative;

  width: 100%;
  max-width: $screen-sm-rem;

  background-color: $Paste;
  .LinkLabel {
    margin-bottom: 0;
  }
}

.SubMenuToggle,
.ActionButtonWrapper {
  position: absolute;
  z-index: get-z-index("VerticalMenuButtons");
}

.SubMenuToggle {
  top: rem-calc(10);
  left: rem-calc(4);

  svg {
    transition: transform 300ms ease-in-out;
  }
}

.ActionButtonWrapper {
  top: rem-calc(7);
  right: rem-calc(4);
}

.SubMenuToggle.isOpen svg {
  transform: rotate(90deg);
}

.SubMenuWrapper {
  position: relative;

  margin-left: spacingUnit(2);
}
