/* @description Generates styles for the MenuPanelScrollableWithActionArea component */
@import '../../globals/sass/helpers-all';

.MenuPanelScrollableWithActionArea {
    position: relative;
}

.ContentWrapper {
    padding: spacingUnit(4) spacingUnit(4) 0;
}

.ActionArea {
    position: relative;

    height: rem-calc(64);
    padding: spacingUnit(3) spacingUnit(2);

    background-color: $White;
}
