/* @description Generates styles for the CircularButton component */
@import '../globals/sass/helpers-all';
$circular-button-radius-sm: 22; //sm btn height
$circular-button-radius-md: 32; //md btn height
$circular-button-radius-lg: 40; //lg btn height
$circular-icon-size: rem-calc(16);
$circular-icon-size-sm: rem-calc(12);
$circular-primary: $VimeoBlue;
$circular-primary-hovered: $VimeoBlue-Darkened;
$circular-alternative: #3A5161;
$circular-alternative-hovered: $AstroGranite;
$circular-secondary: $RegentGray;
$circular-secondary-hovered: $AstroGranite;
$circular-negative: $SunsetOrange;
$circular-negative-hovered: $SunsetOrange-Darkened;

// Build dashborders
@mixin dash-border($size, $format) {
    @if($size == 'sm') {
        @if($format == 'primary') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26"><path fill="none" stroke="#{$circular-primary}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M13,25C6.4,25,1,19.6,1,13 S6.4,1,13,1s12,5.4,12,12S19.6,25,13,25z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26"><path fill="none" stroke="#{$circular-primary-hovered}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M13,25C6.4,25,1,19.6,1,13 S6.4,1,13,1s12,5.4,12,12S19.6,25,13,25z"/></svg>');
            }
        }
        @else if($format == 'secondary') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26"><path fill="none" stroke="#{$circular-secondary}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M13,25C6.4,25,1,19.6,1,13 S6.4,1,13,1s12,5.4,12,12S19.6,25,13,25z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26"><path fill="none" stroke="#{$circular-secondary-hovered}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M13,25C6.4,25,1,19.6,1,13 S6.4,1,13,1s12,5.4,12,12S19.6,25,13,25z"/></svg>');
            }
        }
        @else if($format == 'alternative') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26"><path fill="none" stroke="#{$circular-alternative}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M13,25C6.4,25,1,19.6,1,13 S6.4,1,13,1s12,5.4,12,12S19.6,25,13,25z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26"><path fill="none" stroke="#{$circular-alternative-hovered}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M13,25C6.4,25,1,19.6,1,13 S6.4,1,13,1s12,5.4,12,12S19.6,25,13,25z"/></svg>');
            }
        }
        @else if($format == 'negative') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26"><path fill="none" stroke="#{$circular-negative}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M13,25C6.4,25,1,19.6,1,13 S6.4,1,13,1s12,5.4,12,12S19.6,25,13,25z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26"><path fill="none" stroke="#{$circular-negative-hovered}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M13,25C6.4,25,1,19.6,1,13 S6.4,1,13,1s12,5.4,12,12S19.6,25,13,25z"/></svg>');
            }
        }
    }

    @else if($size == 'md') {
        @if($format == 'primary') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><path style="fill:none;stroke:#{$circular-primary};stroke-width:0.6667;stroke-dasharray:2,1.3333;" d="M18,35C8.6,35,1,27.4,1,18 S8.6,1,18,1s17,7.6,17,17S27.4,35,18,35z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><path style="fill:none;stroke:#{$circular-primary-hovered};stroke-width:0.6667;stroke-dasharray:2,1.3333;" d="M18,35C8.6,35,1,27.4,1,18 S8.6,1,18,1s17,7.6,17,17S27.4,35,18,35z"/></svg>');
            }
        }
        @else if($format == 'secondary') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><path style="fill:none;stroke:#{$circular-secondary};stroke-width:0.6667;stroke-dasharray:2,1.3333;" d="M18,35C8.6,35,1,27.4,1,18 S8.6,1,18,1s17,7.6,17,17S27.4,35,18,35z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><path style="fill:none;stroke:#{$circular-secondary-hovered};stroke-width:0.6667;stroke-dasharray:2,1.3333;" d="M18,35C8.6,35,1,27.4,1,18 S8.6,1,18,1s17,7.6,17,17S27.4,35,18,35z"/></svg>');
            }
        }
        @else if($format == 'alternative') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><path style="fill:none;stroke:#{$circular-alternative};stroke-width:0.6667;stroke-dasharray:2,1.3333;" d="M18,35C8.6,35,1,27.4,1,18 S8.6,1,18,1s17,7.6,17,17S27.4,35,18,35z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><path style="fill:none;stroke:#{$circular-alternative-hovered};stroke-width:0.6667;stroke-dasharray:2,1.3333;" d="M18,35C8.6,35,1,27.4,1,18 S8.6,1,18,1s17,7.6,17,17S27.4,35,18,35z"/></svg>');
            }
        }
        @else if($format == 'negative') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><path style="fill:none;stroke:#{$circular-negative};stroke-width:0.6667;stroke-dasharray:2,1.3333;" d="M18,35C8.6,35,1,27.4,1,18 S8.6,1,18,1s17,7.6,17,17S27.4,35,18,35z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><path style="fill:none;stroke:#{$circular-negative-hovered};stroke-width:0.6667;stroke-dasharray:2,1.3333;" d="M18,35C8.6,35,1,27.4,1,18 S8.6,1,18,1s17,7.6,17,17S27.4,35,18,35z"/></svg>');
            }
        }
    }

    @else if($size == 'lg') {
        @if($format == 'primary') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 42 42"><path fill="none" stroke="#{circular-primary}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M21,41C10,41,1,32,1,21 S10,1,21,1s20,9,20,20S32,41,21,41z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 42 42"><path fill="none" stroke="#{$circular-primary-hovered}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M21,41C10,41,1,32,1,21 S10,1,21,1s20,9,20,20S32,41,21,41z"/></svg>');
            }
        }
        @else if($format == 'secondary') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 42 42"><path fill="none" stroke="#{circular-secondary}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M21,41C10,41,1,32,1,21 S10,1,21,1s20,9,20,20S32,41,21,41z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 42 42"><path fill="none" stroke="#{$circular-secondary-hovered}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M21,41C10,41,1,32,1,21 S10,1,21,1s20,9,20,20S32,41,21,41z"/></svg>');
            }
        }
        @else if($format == 'alternative') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 42 42"><path fill="none" stroke="#{$circular-alternative}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M21,41C10,41,1,32,1,21 S10,1,21,1s20,9,20,20S32,41,21,41z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 42 42"><path fill="none" stroke="#{$circular-alternative-hovered}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M21,41C10,41,1,32,1,21 S10,1,21,1s20,9,20,20S32,41,21,41z"/></svg>');
            }
        }
        @else if($format == 'negative') {
            background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 42 42"><path fill="none" stroke="#{$circular-negative}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M21,41C10,41,1,32,1,21 S10,1,21,1s20,9,20,20S32,41,21,41z"/></svg>');

            &:hover {
                background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 42 42"><path fill="none" stroke="#{$circular-negative-hovered}" stroke-width="0.6667" stroke-dasharray="2,1.3333" d="M21,41C10,41,1,32,1,21 S10,1,21,1s20,9,20,20S32,41,21,41z"/></svg>');
            }
        }
    }
}

.CircularButton {
    display: inline-block;
    overflow: hidden;

    position: relative;

    border-radius: 50%;

    transition: all #{$iris_transition-base};

    appearance: none;

    &:hover {
        cursor: pointer;
    }
}

.CircularButton img,
.CircularButton svg {
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;

    width: $circular-icon-size;
    height: $circular-icon-size;

    transform: translateY(-50%) translateX(-50%);
}

.CircularButton svg * {
    fill: $White;
}

.autoMarginsHorizontal {
    margin-right: rem-calc(8);

    &:last-of-type {
        margin-left: 0;
    }
}

.sm {
    width: rem-calc($circular-button-radius-sm);
    height: rem-calc($circular-button-radius-sm);

    svg {
        width: $circular-icon-size-sm;
        height: $circular-icon-size-sm;
    }
}

.md {
    width: rem-calc($circular-button-radius-md);
    height: rem-calc($circular-button-radius-md);
}

.lg {
    width: rem-calc($circular-button-radius-lg);
    height: rem-calc($circular-button-radius-lg);
}

.primary {
    background-color: $circular-primary;

    &:hover {
        background-color: $circular-primary-hovered;
    }

    &:active {
        background-color: darken($circular-primary, 10%);
    }
}

.primaryOutline,
.primaryDashed,
.whitePrimary {
    color: $circular-primary;

    &:hover {
        color: $circular-primary-hovered;
    }

    &:active {
        color: darken($circular-primary, 10%);
    }
}


.alternative {
    background-color: $circular-alternative;

    &:hover {
        background-color: darken($circular-alternative, 20%);
    }

    &:active {
        background-color: darken($circular-alternative, 10%);
    }
}

.alternativeOutline,
.alternativeDashed {
    color: $circular-alternative;

    &:hover {
        color: darken($circular-alternative, 20%);
    }

    &:active {
        color: darken($circular-alternative, 10%);
    }
}

.secondary {
    background-color: $circular-secondary;

    &:hover {
        background-color: $circular-secondary-hovered;
    }

    &:active {
        background-color: darken($circular-secondary, 10%);
    }
}

.secondaryOutline,
.secondaryDashed,
.whiteSecondary {
    color: $circular-secondary;

    &:hover {
        color: $circular-secondary-hovered;
    }

    &:active {
        color: darken($circular-secondary, 10%);
    }
}

.negative {
    background-color: $circular-negative;

    &:hover {
        background-color: $circular-negative-hovered;
    }

    &:active {
        background-color: darken($circular-negative, 10%);
    }
}

.negativeOutline,
.negativeDashed,
.negativeSecondary {
    color: $circular-negative;

    &:hover {
        color: $circular-negative-hovered;
    }

    &:active {
        color: darken($circular-negative, 10%);
    }
}

.primary,
.alternative,
.secondary,
.negative {
    border: none;
}

.primaryOutline,
.alternativeOutline,
.secondaryOutline,
.primaryDashed,
.alternativeDashed,
.secondaryDashed,
.negativeOutline,
.negativeDashed {
    background-color: transparent;

    svg * {
        fill: currentColor;
    }
}

.primaryOutline,
.alternativeOutline,
.secondaryOutline,
.negativeOutline {
    border: 1px solid;
}

.whitePrimary,
.whiteSecondary {
    border: none;
    background-color: $White;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.06);

    svg * {
        fill: currentColor;
    }
}

.primaryDashed,
.alternativeDashed,
.secondaryDashed,
.negativeDashed {
    border: none;
    border-radius: 0;
    background-size: cover;
}

.primaryDashed {
    &.sm {
        @include dash-border('sm', 'primary');
    }

    &.md {
        @include dash-border('md', 'primary');
    }

    &.lg {
        @include dash-border('lg', 'primary');
    }
}

.secondaryDashed {
    &.sm {
        @include dash-border('sm', 'secondary');
    }

    &.md {
        @include dash-border('md', 'secondary');
    }

    &.lg {
        @include dash-border('lg', 'secondary');
    }
}

.alternativeDashed {
    &.sm {
        @include dash-border('sm', 'alternative');
    }

    &.md {
        @include dash-border('md', 'alternative');
    }

    &.lg {
        @include dash-border('lg', 'alternative');
    }
}

.negativeDashed {
    &.sm {
        @include dash-border('sm', 'negative');
    }

    &.md {
        @include dash-border('md', 'negative');
    }

    &.lg {
        @include dash-border('lg', 'negative');
    }
}
