/* @description Generates styles for the OverflowTruncationWrapper component */
@import '../globals/sass/helpers-all';
$OverflowTruncation_top-spacing: spacingUnit(4);

.OverflowTruncationWrapper {
    position: relative;
}


.PositionalWrapper {
    position: absolute;
    top: 0;

    width: 100%;

    &.isTruncated {
        &:before {
            display: block;

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: $OverflowTruncation_top-spacing;

            background: linear-gradient(to bottom, rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%);

            content: '';
        }

        &:after {
            display: block;

            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: rem-calc(6);

            background: linear-gradient(to top, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0)) 0 100%;

            content: '';
        }
    }
}

.OverflowWrapper {
    overflow: scroll;
}
