body {
  color: #4E5A5E;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

::selection {
  background-color: #A6E2F9; }

::-moz-selection {
  background-color: #A6E2F9; }

strong {
  font-weight: 700; }

a {
  color: #17272E;
  cursor: pointer;
  text-decoration: none; }
  a:hover, a:focus, a.selected {
    color: #0088cc; }
  a img {
    border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.2em;
  font-weight: 700;
  line-height: 1.189;
  color: #40545C; }

label {
  font-weight: 400; }

blockquote {
  margin-bottom: 1em;
  font-style: italic; }

hr {
  display: block;
  clear: both;
  height: 0;
  margin: 10px 0;
  border: 1px solid #D0D8DB; }
