body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.4rem;
  color: #3a5161; }

a {
  color: #00adef; }
  a:hover {
    color: #3a5161; }
