/* @description Generates styles for the InputCheckbox component */
@import '../globals/sass/helpers-all';
$InputCheck_fill-size: 1rem;

@mixin InputCheck_checkboxFill {
    @include sharedInlineInputFillStyles();

    top: 0.16rem;
    left: 0.155rem;

    width: $InputCheck_fill-size;
    height: $InputCheck_fill-size;

    background-repeat: no-repeat;
    background-position: 2% 2%;
    background-size: 98%;
}

.InputCheckboxWrapper {
    @include sharedInlineInputWrapperStyles();

    padding-left: spacingUnit(8);
}

.InputCheckboxLabel {
    min-height: 1.125rem;
}

.isHiddenLabel {
    display: none;
}

.InputCheckbox {
    @include sharedInlineInputStyles();

    &:checked:after {
        @include sharedInlineInputActivatedFillStyles();
    }

    &:checked:before,
    &:checked:focus:before {
        border: 0;
        background-color: $inputs_inlineInputs_element-background-color;
        box-shadow: none;
    }
}




.InputCheckboxOverlay {
    @include sharedInlineInputElementReplaceStyles();

    border-radius: rem-calc($g-radius-sm);

    &.darkTheme {
        border-color: $inputs_border-color-dark;
        background-color: $inputs_background-color-dark-inline-elements;

        &:hover {
            border-color: $White;
        }
    }

    &.default::after {
        @include InputCheck_checkboxFill();

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%23ffffff' d='M6.667 14.39L1.306 9.22l1.388-1.44 3.973 3.83 8.639-8.33 1.388 1.44z'/%3E%3C/svg%3E");
    }

    &.indeterminate::after {
        @include InputCheck_checkboxFill();

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23ffffff' d='M4 9h12a1 1 0 0 1 1 1 1 1 0 0 1-1 1H4a1 1 0 0 1-1-1 1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
    }
}

.InputCheckbox:focus + .InputCheckboxOverlay.defaultTheme {
    border-color: $inputs_border-color-focused;
}

.InputCheckbox:focus + .InputCheckboxOverlay.darkTheme {
    border-color: $inputs_border-color-focused-dark;
}

.InputCheckboxLabel:hover .InputCheckbox:focus + .InputCheckboxOverlay.defaultTheme {
    border-color: $inputs_inlineInputs_border-color-focused-hover;
}

.InputCheckbox:checked + .InputCheckboxOverlay {
    border: 0;
    background: $inputs_inlineInputs_element-background-color;

    &:after {
        @include sharedInlineInputActivatedFillStyles();
    }
}
.InputCheckboxLabel:hover .InputCheckbox:checked + .InputCheckboxOverlay ,
.InputCheckboxLabel:hover .InputCheckbox:checked + .InputCheckboxOverlay {
    background-color: $inputs_inlineInputs_element-background-color-hover;
}



.FocusBloop {
    top: rem-calc(-7);
    left: rem-calc(-7);

    width: rem-calc(34);
    height: rem-calc(34);
}
