/* @description Generates styles for the VerticalMenuItem component */
@import '../globals/sass/helpers-all';
$VerticalMenuItem_IconSize: rem-calc(20);

.VerticalMenuItemContent {
    display: inline-block;

    width: 100%;
    padding: rem-calc(12) ($VerticalMenuItem_IconSize + 1rem) rem-calc(10) rem-calc(12);


    &.textOverrides {
        max-width: $screen-sm-rem;
        margin-bottom: 0;
    }

    &.isActive {
        background-color: rgba($AstroGranite, 0.08);
    }
}

.linkActionWrapper {
    position: absolute;
    top: rem-calc(11);
    right: 0.5rem;

    svg {
        width: $VerticalMenuItem_IconSize;
        height: $VerticalMenuItem_IconSize;
    }
}

.LabelWrapper {
    display: inline-block;

    width: 100%;

    &.hasIcon {
        padding-left: $VerticalMenuItem_IconSize + rem-calc(8);
    }
    &.isTruncated {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.LabelIconWrapper {
    position: absolute;
    top: rem-calc(9);
    left: rem-calc(8);

    svg {
        width: $VerticalMenuItem_IconSize;
        height: $VerticalMenuItem_IconSize;
    }
}

.LabelIconWrapper,
.linkActionWrapper {
    svg * {
        fill: currentColor;
    }
}

.LabelIconWrapper.isActive {
    svg * {
        fill: $VimeoBlue;
    }
}

.LabelIconWrapper.subtle {
    svg * {
        fill: $SoutherlySky;
    }
}
