:global {
    
    .colorInfoContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .colorInfo {
        position: relative;
        padding-left: spacingUnit(2);
        padding-right: spacingUnit(2);
        display: flex;
        flex-direction: column;
        margin-bottom: spacingUnit(2);
    }

    .colorInfo code {
        width: 100%;
        overflow: hidden;
    }

    .colorInfo pre {
        @include ParagraphSm
        position: absolute;
        left: rem-calc(16);
        top: rem-calc(5);
        background-color: rgba(0,0,0,0.2);
        color: #fff;
        padding: rem-calc(6);
        border-radius: rem-calc(3);
    }

    .colorSwatch{
        height: 5vw;
        width: 20vw;
        display: block;
        border-radius: rem-calc(3);
        margin-bottom: rem-calc(5);
    }
}