:global {
    .sg-grid {
        background-color:rgba(3, 169, 244, 0.36);

        .GridBlockDocs {
            height: 100%;
        }

        .GridColDocs {
            background-color: rgba(3, 169, 244, 0.36);
            background-clip: content-box;
            height: 30px;
            font-size: 12px;

            .GridColDocs + .GridColDocs {
                background-color: rgba(3, 169, 244, 0.36);
                height: 100%;
            }
        }

    }
}