/* styles the typescript props info */
:global {
    .sg_tsPropListGroup{
        border: 1px solid $Porcelain;
        margin-bottom: 2rem;
    }
    
    .sg_tsPropListHeader {
        @include Header3;
    }

    .sg_tsPropsListEntry {
        padding: 1rem;

        &:nth-child(even) {
            background: $Paste;
        }
    }
    .sg_tsPropFlagWrapper {
        margin-bottom: .5rem;
    }  

    .sg_tsPropFlag {
        background: $RumSwizzle;
        padding: 2px;
        text-transform: uppercase;
        font-size: .5rem;
        color: $Pistachio;
        border: 1px solid currentColor;
    }

    .sg_tsPropTypeValue{
        @include ParagraphMd;
        @include ParagraphAlt;
        margin-bottom: .5rem;
    }

    .sg_tsPropComment{
        @include ParagraphMd;
    }
}
