@import '../../globals/sass/helpers-all';

@keyframes actionCircleBloop {
    0% {
        opacity: 0;

        transform: scale(.4);
    }
    30% {
        opacity: .05;

        transform: scale(.5);
    }
    100% {
        opacity: .16;

        transform: scale(1);
    }
}


@mixin animationBloop () {
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.FocusBloop {
    // position is determined by the component that is being decorated
    position: absolute;
    z-index: 1;
}

input:focus ~ .FocusBloop {
    border-radius: 100%;
    background-color: #9bacb8;
    animation-name: actionCircleBloop;
    @include animationBloop ();
}

input:focus:checked ~ .FocusBloop  {
    background-color: $VimeoBlue;
}