@import '../globals/sass/helpers-all';

.NotificationSuccess {
    background-color: $RumSwizzle;
}

.iconColor * {
    fill: $Pistachio;
}

.dismissButton {
    svg * {
        fill: $Pistachio !important;// overrides button icon color for special case
    }

    &:hover {
        background: rgba($Pistachio, 0.1) !important; // overrides button icon color for special case
    }
}
