/* @description Generates styles for the SearchField component */
@import '../../globals/sass/helpers-all';

.Wrapper {
    position: relative;
}
.SearchField {
    padding-right: rem-calc(32);
}

.SubmitButton {
    position: absolute;
    top: rem-calc(4);
    right: rem-calc(4);
}
